<!DOCTYPE html>
<html>
	<head>
		<title>
			{{if eq $.Config.SiteName ""}}
				{{.Title}}
			{{else}}
				{{$.Config.SiteName}}
			{{end}} {{ .Path }}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{if eq .Mode "aliyundrive"}}
		<meta name="referrer" content="no-referrer">
	{{end}}
	{{if ne .FaviconUrl ""}}
		<link rel="icon" href="{{.FaviconUrl}}" type="image/x-icon" />
		<link rel="shortcut icon" href="{{.FaviconUrl}}" type="image/x-icon" />
	{{else}}
		<link rel="icon" href="/static/img/favicon-{{.Mode}}.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/static/img/favicon-{{.Mode}}.ico" type="image/x-icon" />
	{{end}}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.7.3/dist/css/lightgallery.min.css">
		<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
		<link href="https://cdn.bootcdn.net/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css" rel="stylesheet">
		<style type="text/css">
		body {
			/*background: #F5F5F5;*/
			font-weight: 100;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}
		#heading {
			/*padding: 16px 0px 16px 0px;*/
			font-weight: 400;
		}
		.file-name a {
			color: #000000;
		}
		.fa {
			width: 16px;
		}
		.fa-file {
			color: #AAAAAA;
		}
		.fa-folder {
			color: rgb(255 211 66);
		}
		.icon-dir, .icon-file, .icon-up {
			display: inline-block;
			width: 100%;
			margin-left: 16px;
			text-decoration: none ! important;
		}
		.table-head, .table thead th {
			font-weight: 500;
		}
		.footer {
			margin-top: 32px;
			margin-bottom: 32px;
		}
		[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
			position: relative;
			opacity: 1;
		}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
	</head>
	<body>
		{{ $SurportFolderDown := .SurportFolderDown }}
		{{if .HasPwd}}
		<script>
			promptPwd("{{ .FileId}}");
			function promptPwd(fileId){
				var pwd = prompt("这是一个受保护的文件夹，您需要提供访问密码才能查看。");
				$.cookie("dir_pwd", pwd);
				location.reload();
			}
		</script>
		{{else}}
		<div class="container">
			<div class="row">
				{{/*<div class="col s12">
					<h2 id="heading">{{.Title}} {{ .Path }}</h2>
				</div>*/}}
				<ul id="Accounts" class="dropdown-content">
					{{range $i, $a := .Accounts}}
						<li><a href="/d_{{$i}}">{{.Name}}</a></li>
					{{end}}
				</ul>
				<nav class="grey darken-3">
					<div class="nav-wrapper">
						<div class="col s12">
							<a href="{{if eq $.Config.AccountChoose "default"}}{{$.DIndex}}{{end}}/" class="breadcrumb">
								{{if eq $.Config.SiteName ""}}
									{{.Title}}
								{{else}}
									{{$.Config.SiteName}}
								{{end}}
							</a>
							{{if and (eq $.Config.AccountChoose "display") (or (ne $.Path "/") (ne $.DIndex ""))}}
								<a href="javascript:void(0)" class="breadcrumb"></a>
								<a href="{{$.DIndex}}/">{{.Title}}</a>
							{{end}}
							{{range .PrePaths}}
								<a href="javascript:void(0)" class="breadcrumb"></a>
								{{if eq .PathUrl $.Path}}
									<a href="javascript:void(0)">{{.PathName}}</a>
								{{else}}
									<a href="{{$.DIndex}}{{.PathUrl}}">{{.PathName}}</a>
								{{end}}
							{{end}}
							<ul class="right hide-on-med-and-down">
								<li>
									<input class="search" type="search" placeholder="搜索文件（夹）" data-index="{{$.DIndex}}/" value="{{$.SearchKey}}">
								</li>
								{{ if gt (len .Accounts) 1 }}
									<li><a class="dropdown-trigger" href="javascript:void(0)" data-target="Accounts"><i class="material-icons">face</i></a></li>
								{{end}}
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="row">
				<div class="col s12">
					<table class="table striped highlight responsive-table">
						<thead>
						<tr>
							<th class="file-name"><span class="table-head" data-order-seq="" data-order-type="file-name" style="cursor: default;">Name</span></th>
							<th class="file-size"><span class="table-head" data-order-seq="" data-order-type="file-size" style="cursor: default;">Size</span></th>
							<th class="file-date-modified"><span class="table-head" data-order-seq="" data-order-type="file-date-modified" style="cursor: default;">Date Modified</span></th></th>
							<th class="center-align">Download</th>
						</tr>
						</thead>
						<tbody>
							{{if .HasParent}}
								<tr class="parent">
									<td class="file-name">
										<a class="icon icon-up" href="{{$.DIndex}}{{.ParentPath}}"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;..</a>
									</td>
									<td class="file-size"></td>
									<td class="file-date-modified"></td>
									<td class="file-size"></td>
								</tr>
							{{else}}
							{{end}}
							{{range .List}}
								<tr>
									{{if .IsFolder}}
										<td class="file-name">
											<a class="icon icon-dir" href="{{if $.SearchKey}}{{index $.AcountIndex .AccountId }}{{else}}{{$.DIndex}}{{end}}{{.Path}}"><i class="fa fa-folder" aria-hidden="true"></i>&nbsp;&nbsp;{{.FileName}}</a>
										{{if $.SearchKey}}
											<br><p style="margin-left: 45px">{{index $.AcountIndex .AccountId }}{{.Path}}</p>
										{{end}}
										</td>
									{{else}}
										<td class="file-name"><a class="icon icon-file" data-file-type="{{.FileType}}" data-media-type="{{.MediaType}}" data-title="{{.FileName}}" data-url="{{if $.SearchKey}}{{index $.AcountIndex .AccountId }}{{else}}{{$.DIndex}}{{end}}{{.Path}}" href="javascript:void(0);">
												{{if eq .MediaType 1}}
													<i class="fa fa-file-image-o" aria-hidden="true"></i>
												{{else if eq .MediaType 2}}
													<i class="fa fa-file-audio-o" aria-hidden="true"></i>
												{{else if eq .MediaType 3}}
													<i class="fa fa-file-video-o" aria-hidden="true"></i>
												{{else if eq .MediaType 4}}
													{{if or (eq .FileType "sh") (eq .FileType "go") (eq .FileType "java") (eq .FileType "py")}}
														<i class="fa fa-file-code-o" aria-hidden="true"></i>
													{{else}}
														<i class="fa fa-file-text" aria-hidden="true"></i>
													{{end}}
												{{else}}
													{{if eq .FileType "apk"}}
														<i class="fa fa-android" aria-hidden="true"></i>
													{{else if eq .FileType "exe"}}
														<i class="fa fa-file" aria-hidden="true"></i>
													{{else if or (eq .FileType "zip") (eq .FileType "gz") (eq .FileType "7z")}}
														<i class="fa fa-file-zip-o" aria-hidden="true"></i>
													{{else}}
														<i class="fa fa-file" aria-hidden="true"></i>
													{{end}}
												{{end}}
												&nbsp;&nbsp;{{.FileName}} <i class="fa fa-copy copyBtn" data-path="{{if $.SearchKey}}{{index $.AcountIndex .AccountId }}{{else}}{{$.DIndex}}{{end}}{{.Path}}" data-clipboard-action="copy" data-toggle="tooltip" data-placement="bottom" title="复制链接" style="font-size: x-small" aria-hidden="true"></i></a>
												{{if $.SearchKey}}
													<br><p style="margin-left: 45px">{{index $.AcountIndex .AccountId }}{{.Path}}</p>
												{{end}}
										</td>
									{{end}}
									<td class="file-size">{{.SizeFmt}}</td>
									<td class="file-date-modified">{{.LastOpTime}}</td>
									{{if .IsFolder}}
										{{if and (ne .FileId "0") (ne .FileId "-12") (ne .FileId "-14") (ne .FileId "-13") (ne .FileId "-15") (ne .FileId "-11") (ne .FileId "-16") ($SurportFolderDown)}}
											<td class="center-align"><a class="folderDown" data-file-id="{{.FileId}}" data-account="{{if $.SearchKey}}{{.AccountId}}{{else}}{{$.AccountId}}{{end}}" href="javascript:void(0);" target="_blank" ><i class="fa fa-download" aria-hidden="true"></i></a></td>
										{{else}}
											<td class="file-size">-</td>
										{{end}}
									{{else}}
										<td class="center-align"><a href="{{if $.SearchKey}}{{index $.AcountIndex .AccountId }}{{else}}{{$.DIndex}}{{end}}{{.Path}}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
									{{end}}
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{if .HasReadme}}
					<div class="row">
						<div class="col s12">
							<div class="card-panel">
								<input id="readme" type="hidden" value="{{.ReadmeContent}}" />
								<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
								<div id="content"></div>
								<script>
									var c = $("#readme").val();
									if(c != ""){
										$("#content").append(marked(c));
										$("#content").show();
									}else{
										var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + "/api/public/raw/README.md");
										$.ajax({
											method: 'GET',
											url: fullUrl,
											success: function (data) {
												if(data != ""){
													$("#content").append(marked(data));
													$("#content").show();
												}
											}
										});
									}
								</script>
							</div>
						</div>
					</div>
				{{end}}
				<div id="previewImages"></div>
				<div class="col s12 footer">
					<div class="center-align">
						{{if eq $.Footer ""}}
							©2021 <a href="https://github.com/libsgh/PanIndex" target="_blank">PanIndex</a>. All rights reserved.
						{{else}}
							{{.Footer | unescaped}}
						{{end}}
					</div>
				</div>
			</div>
		</div>
		{{end}}
		<div id="aplayer"></div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.7.3/dist/js/lightgallery-all.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script>
		$(".dropdown-trigger").dropdown();
	</script>
</html>