{{define "templates/pan/admin/appearance.html"}}
    {{template "templates/pan/admin/base.html" .}}
{{end}}
{{define "admin-appearance"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 外观 </h3>
    </div>
    <form id="configForm">
        <div>
            <label class="mdui-textfield-label">主题</label>
            <select id="theme" name="theme" class="mdui-select" mdui-select>
                <option value='mdui' {{if eq $.config.Theme "mdui"}}selected{{else}}{{end}}>mdui</option>
                <option value='mdui-light' {{if eq $.config.Theme "mdui-light"}}selected{{else}}{{end}}>mdui-light</option>
                <option value='mdui-dark' {{if eq $.config.Theme "mdui-dark"}}selected{{else}}{{end}}>mdui-dark</option>
                <option value='bootstrap' {{if eq $.config.Theme "bootstrap"}}selected{{else}}{{end}}>bootstrap</option>
                <option value='classic' {{if eq $.config.Theme "classic"}}selected{{else}}{{end}}>classic</option>
            </select>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">网站图标(Favicon)</label>
            <input class="mdui-textfield-input" type="text" name="favicon_url" placeholder="网站图标Url" value="{{$.config.FaviconUrl}}" />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">自定义底部信息(Footer)</label>
            <textarea class="mdui-textfield-input" type="text" name="footer" placeholder="支持html代码">{{$.config.Footer}}</textarea>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">自定义CSS</label>
            <textarea class="mdui-textfield-input" type="text" name="css" placeholder="html代码片段">{{$.config.Css}}</textarea>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">自定义Javascript</label>
            <textarea class="mdui-textfield-input" type="text" name="js" placeholder="html代码片段">{{$.config.Js}}</textarea>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">README.md</label>
            <div class="mdui-row-md-3 mdui-row-sm-2" style="margin-left: 50px">
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="readme" {{if eq $.config.Readme "0" }}checked="checked"{{end}} value="0" />
                    <i class="mdui-radio-icon"></i>
                    不渲染
                </label>
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="readme" {{if eq $.config.Readme "1" }}checked="checked"{{end}} value="1" />
                    <i class="mdui-radio-icon"></i>
                    渲染
                </label>
            </div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">HEADE.md</label>
            <div class="mdui-row-md-3 mdui-row-sm-2" style="margin-left: 50px">
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="head" {{if eq $.config.Head "0" }}checked="checked"{{end}} value="0" />
                    <i class="mdui-radio-icon"></i>
                    不渲染
                </label>
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="head" {{if eq $.config.Head "1" }}checked="checked"{{end}} value="1" />
                    <i class="mdui-radio-icon"></i>
                    渲染
                </label>
            </div>
        </div>
        <div class="mdui-row-xs-1">
            <div class="mdui-col">
                <button type="button" class="saveConfigBtn mdui-btn mdui-color-brown mdui-ripple" value="1">
                    <i class="mdui-icon material-icons">save</i> 保存
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}