{{define "pan/admin/appearance.html"}}
    {{template "pan/admin/base.html" .}}
{{end}}
{{define "admin-appearance"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 外观 </h3>
    </div>
    <form id="configForm">
        <div>
            <label class="mdui-textfield-label">主题</label>
            <select id="theme" name="theme" class="mdui-select" mdui-select>
                <option value='mdui' {{if eq .Config.Theme "mdui"}}selected{{else}}{{end}}>mdui</option>
                <option value='mdui-light' {{if eq .Config.Theme "mdui-light"}}selected{{else}}{{end}}>mdui-light</option>
                <option value='mdui-dark' {{if eq .Config.Theme "mdui-dark"}}selected{{else}}{{end}}>mdui-dark</option>
                <option value='bootstrap' {{if eq .Config.Theme "bootstrap"}}selected{{else}}{{end}}>bootstrap</option>
                <option value='classic' {{if eq .Config.Theme "classic"}}selected{{else}}{{end}}>classic</option>
                <option value='materialdesign' {{if eq .Config.Theme "materialdesign"}}selected{{else}}{{end}}>materialdesign</option>
            </select>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">网站图标(Favicon)</label>
            <input class="mdui-textfield-input" type="text" name="favicon_url" placeholder="网站图标Url" value="{{.Config.FaviconUrl}}" />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">自定义底部信息(Footer)</label>
            <textarea class="mdui-textfield-input" type="text" name="footer" placeholder="支持html代码">{{.Config.Footer}}</textarea>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">自定义CSS</label>
            <textarea class="mdui-textfield-input" type="text" name="css" placeholder="html代码片段">{{.Config.Css}}</textarea>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">自定义Javascript</label>
            <textarea class="mdui-textfield-input" type="text" name="js" placeholder="html代码片段">{{.Config.Js}}</textarea>
        </div>
        <div class="mdui-row-xs-1">
            <div class="mdui-col">
                <button type="button" class="saveConfigBtn mdui-btn mdui-color-brown mdui-ripple" value="1">
                    <i class="mdui-icon material-icons">save</i> 保存
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}