<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>系统配置 - PanIndex</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.min.css"/>
<style>
    .mdui-list-item-content {
        line-height: inherit;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-blue mdui-theme-layout-{{if eq .Config.Theme "mdui"}}auto{{end}}{{if eq .Config.Theme "mdui-dark"}}dark{{end}}{{if eq .Config.Theme "mdui-light"}}light{{end}} mdui-loaded mdui-bottom-nav-fixed">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-indigo">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></a>
        <a href="/" class="mdui-typo-headline mdui-hidden-xs" target="_blank">PanIndex</a>
        <a href="/?admin" class="mdui-typo-title">配置</a>
        <div class="mdui-toolbar-spacer"></div>
        <a id="theme-toggle" href="JavaScript:void(0)" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '明暗主题切换'}"><i class="mdui-icon material-icons">brightness_{{if eq .Config.Theme "mdui"}}4{{end}}{{if eq .Config.Theme "mdui-dark"}}5{{end}}{{if eq .Config.Theme "mdui-light"}}4{{end}}</i></a>
        <a href="/?admin=&logout=true" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '退出登录'}"><i class="mdui-icon material-icons">power_settings_new</i></a>
    </div>
</header>
<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="position:relative;">
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple">settings</i>
                <div class="mdui-list-item-content">通用</div><i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/?admin=start" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "start"}}mdui-list-item-active{{end}}">
                    <div class="mdui-list-item-content">
                        <div class="mdui-list-item-title">基础配置</div>
                    </div>
                </a>
                <a href="/?admin=appearance" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "appearance"}}mdui-list-item-active{{end}}">
                    <div class="mdui-list-item-content">
                        <div class="mdui-list-item-title">外观</div>
                    </div>
                </a>
                <a href="/?admin=view" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "view"}}mdui-list-item-active{{end}}">
                    <div class="mdui-list-item-content">
                        <div class="mdui-list-item-title">文件预览</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-red">security</i>
                <div class="mdui-list-item-content">安全</div><i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/?admin=params" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "file_lock"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">文件夹加密</div>
                </div>
                </a>
                <a href="/?admin=params" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "file_hide"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">隐藏文件（夹）</div>
                </div>
                </a>
                <a href="/?admin=params" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "params"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">防盗链</div>
                </div>
                </a>
            </div>
        </div>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme" href="/?admin=account">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">account_circle</i>
            <div class="mdui-list-item-content">账号绑定</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme" href="/?admin=scheduled">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-brown">schedule</i>
            <div class="mdui-list-item-content">定时任务</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme" href="/?admin=upload">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue-grey">cloud_upload</i>
            <div class="mdui-list-item-content">手动上传</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme" href="/?admin=sync">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-teal">sync</i>
            <div class="mdui-list-item-content">同步</div>
        </a>
        <div class="mdui-text-center mdui-typo" style="bottom:0;position:fixed;left:0;right:0;height: 56px">
            <b>版本：{{.Version}}v2.0.6</b>
            <!--<b>构建：{{.BuildTime}}2021-09-18 09:00:00</b>-->
        </div>
</div>
</div>
<div class="mdui-container" style="margin-bottom: 80px;">
    {{if eq .RedirectUrl "start"}}
        {{block "admin-start" .}}{{end}}
    {{else if eq .RedirectUrl "appearance"}}
        {{block "admin-appearance" .}}{{end}}
    {{else if eq .RedirectUrl "security"}}
        {{block "admin-security" .}}{{end}}
    {{else if eq .RedirectUrl "view"}}
        {{block "admin-view" .}}{{end}}
    {{else}}
    {{end}}
</div>
<script>
    var ApiToken = '{{.Config.ApiToken}}';
    var accounts = [
        {{range .Config.Accounts}}
    {"name":"{{.Name}}","id":"{{.Id}}","mode":"{{.Mode}}","user":"{{.User}}","password":"{{.Password}}",
        "refresh_token":"{{.RefreshToken}}","redirect_uri":"{{.RedirectUri}}","root_id":"{{.RootId}}",
        "cookie_status":"{{.CookieStatus}}","status":"{{.Status}}","files_count":"{{.FilesCount}}","time_span":"{{.TimeSpan}}",
        "last_op_time":"{{.LastOpTime}}", "sync_dir":"{{.SyncDir}}", "sync_child": "{{.SyncChild}}"
    },
    {{end}}
    ];
</script>
<script src="/static/js/admin.js?v=206"></script>
</body>
</html>
