<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>系统配置 - PanIndex</title>
    {{- if ne $.config.FaviconUrl ""}}
    <link rel="icon" href="{{$.config.FaviconUrl}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{$.config.FaviconUrl}}" type="image/x-icon" />
    {{- else}}
    <link rel="icon" href="{{$.config.PathPrefix}}/static/img/favicon-native.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{$.config.PathPrefix}}/static/img/favicon-native.ico" type="image/x-icon" />
    {{- end}}
    <link rel="stylesheet" href="{{index $.config.CdnFiles  "Material+Icons@css"}}">
    <link rel="stylesheet" href="{{index $.config.CdnFiles "mdui@css"}}"/>
    <script src="{{index $.config.CdnFiles "mdui@js"}}"></script>
    <script src="{{index $.config.CdnFiles "clipboard@js"}}"></script>
    <script src="{{index $.config.CdnFiles "cookie@js"}}"></script>
    <style>
        html, body {height:100%;overflow:auto;margin: 0;}
        html{overflow-y:scroll;}
        .version{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px
        }
        .version a{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: .02em
        }
        input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {

            -webkit-text-fill-color: #756d6d !important;
            -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
            background-color:transparent;
            background-image: none;
            transition: background-color 50000s ease-in-out 0s;
        }
        input {
            background-color:transparent;
        }
        .mdui-theme-layout-dark {
            color: #fff;
            background-color: #424242;
        }
        @media (prefers-color-scheme: dark) {
            .mdui-theme-layout-auto {
                color: #fff;
                background-color: #424242;
            }
        }
    </style>
</head>
<body class="{{- if ne $.redirect_url "login"}}mdui-drawer-body-left{{- end}} mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-blue mdui-theme-layout-{{if eq $.theme "mdui"}}auto{{end}}{{if eq $.theme "mdui-dark"}}dark{{end}}{{if eq $.theme "mdui-light"}}light{{end}} mdui-loaded mdui-bottom-nav-fixed">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-indigo">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon" {{- if ne $.redirect_url "login"}}mdui-drawer="{target: '#main-drawer', swipe: true}"{{- end}}><i class="mdui-icon material-icons">menu</i></a>
        <a href="{{$.config.PathPrefix}}/" class="mdui-typo-headline mdui-hidden-xs" target="_blank">PanIndex</a>
        {{- if ne $.redirect_url "login"}}
        <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}" class="mdui-typo-title">配置</a>
        {{- end}}
        <div class="mdui-toolbar-spacer"></div>
        {{- if ne $.redirect_url "login"}}
        <a id="upload-config-btn" href="javascript:void(0)" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '配置（JSON）'}"><i class="mdui-icon material-icons">settings</i></a>
        <!--<a target="_blank" href="/api/v3/admin/config" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '导出配置（JSON）'}"><i class="mdui-icon material-icons">settings</i></a>-->
        {{- end}}
        <a id="theme-toggle" href="JavaScript:void(0)" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '明暗主题切换'}"><i class="mdui-icon material-icons">brightness_{{- if eq $.theme "mdui-dark"}}5{{- else}}4{{- end}}</i></a>
        <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/logout" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '退出登录'}"><i class="mdui-icon material-icons">power_settings_new</i></a>
    </div>
</header>
{{- if ne $.redirect_url "login"}}
{{$OpenCommon := false}}
{{- if eq $.redirect_url "common"}}
    {{$OpenCommon = true}}
{{- else if eq $.redirect_url "appearance"}}
    {{$OpenCommon = true}}
{{- else if eq $.redirect_url "view"}}
    {{$OpenCommon = true}}
{{- else}}
{{end}}
{{$OpenSafe := false}}
{{- if eq $.redirect_url "pwd"}}
    {{$OpenSafe = true}}
{{- else if eq $.redirect_url "hide"}}
    {{$OpenSafe = true}}
{{- else if eq $.redirect_url "safety"}}
    {{$OpenSafe = true}}
{{- else if eq $.redirect_url "access"}}
    {{$OpenSafe = true}}
{{- else}}
{{end}}
<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="position:relative;">
        <div class="mdui-collapse-item {{if $OpenCommon}}mdui-collapse-item-open{{end}}">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple">settings</i>
                <div class="mdui-list-item-content">通用</div><i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/common" class="mdui-list-item mdui-ripple {{if eq $.redirect_url "common"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">基础配置</div>
                </div>
                </a>
                <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/appearance" class="mdui-list-item mdui-ripple {{if eq $.redirect_url "appearance"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">外观</div>
                </div>
                </a>
                <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/view" class="mdui-list-item mdui-ripple {{if eq $.redirect_url "view"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">文件预览</div>
                </div>
                </a>
            </div>
        </div>
        <div class="mdui-collapse-item {{if $OpenSafe}}mdui-collapse-item-open{{end}}">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-red">security</i>
                <div class="mdui-list-item-content">安全</div><i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/access" class="mdui-list-item mdui-ripple {{if eq $.redirect_url "access"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">访问控制</div>
                </div>
                </a>
                <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/pwd" class="mdui-list-item mdui-ripple {{if eq $.redirect_url "pwd"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">文件夹加密</div>
                </div>
                </a>
                <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/hide" class="mdui-list-item mdui-ripple {{if eq $.redirect_url "hide"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">隐藏文件（夹）</div>
                </div>
                </a>
                <a href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/safety" class="mdui-list-item mdui-ripple {{if eq $.redirect_url "safety"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">防盗链</div>
                </div>
                </a>
            </div>
        </div>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme {{if eq $.redirect_url "disk"}}mdui-list-item-active{{end}}" href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/disk">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">storage</i>
            <div class="mdui-list-item-content">网盘挂载</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme {{if eq $.redirect_url "share"}}mdui-list-item-active{{end}}" href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/share">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-black">share</i>
        <div class="mdui-list-item-content">分享短链</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme {{if eq $.redirect_url "bypass"}}mdui-list-item-active{{end}}" href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/bypass">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-teal">call_split</i>
            <div class="mdui-list-item-content">分流下载</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme {{if eq $.redirect_url "cache"}}mdui-list-item-active{{end}}" href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/cache">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">cached</i>
            <div class="mdui-list-item-content">缓存管理</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme {{if eq $.redirect_url "webdav"}}mdui-list-item-active{{end}}" href="{{$.config.PathPrefix}}{{$.config.AdminPath}}/webdav">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-brown">inbox</i>
            <div class="mdui-list-item-content">WebDav</div>
        </a>
    </div>
    <div class="mdui-text-center mdui-typo version">
        <a href="https://github.com/px-org/PanIndex/releases/tag/{{$.version}}" target="_blank">{{$.version}}</a>
    </div>
</div>
{{- end}}
<div class="mdui-container" style="margin-bottom: 80px;">
    {{- if eq $.redirect_url "common"}}
        {{block "admin-common" .}}{{end}}
    {{- else if eq $.redirect_url "appearance"}}
        {{block "admin-appearance" .}}{{end}}
    {{- else if eq $.redirect_url "security"}}
        {{block "admin-security" .}}{{end}}
    {{- else if eq $.redirect_url "view"}}
        {{block "admin-view" .}}{{end}}
    {{- else if eq $.redirect_url "login"}}
        {{block "admin-login" .}}{{end}}
    {{- else if eq $.redirect_url "access"}}
        {{block "admin-access" .}}{{end}}
    {{- else if eq $.redirect_url "pwd"}}
        {{block "admin-pwd" .}}{{end}}
    {{- else if eq $.redirect_url "hide"}}
        {{block "admin-hide" .}}{{end}}
    {{- else if eq $.redirect_url "safety"}}
        {{block "admin-safety" .}}{{end}}
    {{- else if eq $.redirect_url "disk"}}
        {{block "admin-disk" .}}{{end}}
    {{- else if eq $.redirect_url "share"}}
        {{block "admin-share" .}}{{end}}
    {{- else if eq $.redirect_url "bypass"}}
        {{block "admin-bypass" .}}{{end}}
    {{- else if eq $.redirect_url "cache"}}
        {{block "admin-cache" .}}{{end}}
    {{- else if eq $.redirect_url "webdav"}}
        {{block "admin-webdav" .}}{{end}}
    {{- end}}
</div>
<div id="upload_config_dialog" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">配置导入</div>
        <form id="uploadConfigForm">
            <div class="mdui-textfield mdui-typo">
                <label class="mdui-textfield-label">后台配置JSON</label>
                <textarea class="mdui-textfield-input" name="config_json" rows="5"></textarea>
                <div class="mdui-textfield-helper">配置导入会覆盖现有配置，请谨慎操作，导入之前先备份原有配置</div>
            </div>
        </form>
    </div>
    <div class="mdui-dialog-actions">
        <button id="copyConfigBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-blue-accent"><i class="mdui-icon material-icons">content_copy</i> 复制</button>
        <button id="confirmUploadConfigBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown"><i class="mdui-icon material-icons">save</i> 确定</button>
        <button id="closeUploadConfigBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600"><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
</div>
<script>
    var AdminApiUrl = '{{$.config.PathPrefix}}/api/v3{{$.config.AdminPath}}';
    var AdminUrl = '{{$.config.PathPrefix}}{{$.config.AdminPath}}';
</script>
<script src="{{index $.config.CdnFiles "sortablejs@js"}}"></script>
<script src="{{index $.config.CdnFiles "admin@js"}}?v={{$.version}}"></script>
</body>
</html>
