<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>系统配置 - PanIndex</title>
    {{- if ne .FaviconUrl ""}}
    <link rel="icon" href="{{.FaviconUrl}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{.FaviconUrl}}" type="image/x-icon" />
    {{- else}}
    <link rel="icon" href="/static/img/favicon-native.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/img/favicon-native.ico" type="image/x-icon" />
    {{- end}}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <style>
        .version{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px
        }
        .version a{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: .02em
        }
    </style>
</head>
<body class="{{- if ne .RedirectUrl "login"}}mdui-drawer-body-left{{- end}} mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-blue mdui-theme-layout-{{if eq .Theme "mdui"}}auto{{end}}{{if eq .Theme "mdui-dark"}}dark{{end}}{{if eq .Theme "mdui-light"}}light{{end}} mdui-loaded mdui-bottom-nav-fixed">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-indigo">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon" {{- if ne .RedirectUrl "login"}}mdui-drawer="{target: '#main-drawer', swipe: true}"{{- end}}><i class="mdui-icon material-icons">menu</i></a>
        <a href="/" class="mdui-typo-headline mdui-hidden-xs" target="_blank">PanIndex</a>
        <a href="/?admin" class="mdui-typo-title">配置</a>
        <div class="mdui-toolbar-spacer"></div>
        <a id="theme-toggle" href="JavaScript:void(0)" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '明暗主题切换'}"><i class="mdui-icon material-icons">brightness_{{if eq .Theme "mdui"}}4{{end}}{{if eq .Theme "mdui-dark"}}5{{end}}{{if eq .Theme "mdui-light"}}4{{end}}</i></a>
        {{- if ne .RedirectUrl "login"}}<a target="_blank" href="/api/admin/config?token={{.Config.ApiToken}}" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '查看完整配置（JSON）'"><i class="mdui-icon material-icons">perm_data_setting</i></a>{{- end}}
        <a href="/?admin=common&logout=true" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '退出登录'}"><i class="mdui-icon material-icons">power_settings_new</i></a>
    </div>
</header>
{{- if ne .RedirectUrl "login"}}
<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="position:relative;">
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple">settings</i>
                <div class="mdui-list-item-content">通用</div><i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/?admin=common" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "common"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">基础配置</div>
                </div>
                </a>
                <a href="/?admin=appearance" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "appearance"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">外观</div>
                </div>
                </a>
                <a href="/?admin=view" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "view"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">文件预览</div>
                </div>
                </a>
            </div>
        </div>
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-red">security</i>
                <div class="mdui-list-item-content">安全</div><i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/?admin=pwd" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "pwd"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">文件夹加密</div>
                </div>
                </a>
                <a href="/?admin=hide" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "hide"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">隐藏文件（夹）</div>
                </div>
                </a>
                <a href="/?admin=safety" class="mdui-list-item mdui-ripple {{if eq .RedirectUrl "safety"}}mdui-list-item-active{{end}}">
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">防盗链</div>
                </div>
                </a>
            </div>
        </div>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme {{if eq .RedirectUrl "disk"}}mdui-list-item-active{{end}}" href="/?admin=disk">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">storage</i>
            <div class="mdui-list-item-content">网盘挂载</div>
        </a>
    </div>
    <div class="mdui-text-center mdui-typo version">
        <a href="https://github.com/libsgh/PanIndex/releases/tag/{{.Version}}" target="_blank">{{.Version}}</a>
    </div>
</div>
{{- end}}
<div class="mdui-container" style="margin-bottom: 80px;">
    {{- if eq .RedirectUrl "common"}}
        {{block "admin-common" .}}{{end}}
    {{- else if eq .RedirectUrl "appearance"}}
        {{block "admin-appearance" .}}{{end}}
    {{- else if eq .RedirectUrl "security"}}
        {{block "admin-security" .}}{{end}}
    {{- else if eq .RedirectUrl "view"}}
        {{block "admin-view" .}}{{end}}
    {{- else if eq .RedirectUrl "login"}}
        {{block "admin-login" .}}{{end}}
    {{- else if eq .RedirectUrl "pwd"}}
        {{block "admin-pwd" .}}{{end}}
    {{- else if eq .RedirectUrl "hide"}}
        {{block "admin-hide" .}}{{end}}
    {{- else if eq .RedirectUrl "safety"}}
        {{block "admin-safety" .}}{{end}}
    {{- else if eq .RedirectUrl "disk"}}
        {{block "admin-disk" .}}{{end}}
    {{- else}}
    {{- end}}
</div>
<script>
    var ApiToken = '{{.Config.ApiToken}}';
</script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="/static/js/admin.js?v=207"></script>
</body>
</html>
