{{define "templates/pan/admin/common.html"}}
    {{template "templates/pan/admin/base.html" .}}
{{end}}
{{define "admin-common"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 基础配置 </h3>
    </div>
    <form id="configForm">
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">网站标题</label>
            <input class="mdui-textfield-input" type="text" name="site_name" value="{{$.config.SiteName}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">显示优先于网盘名称</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">网站路径前缀</label>
            <input class="mdui-textfield-input" type="text" name="path_prefix" value="{{$.config.PathPrefix}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">配合<a href="https://libsgh.github.io/PanIndex/#/quickstart?id=%e5%8f%8d%e5%90%91%e4%bb%a3%e7%90%86" target="_blank">反代</a>可实现多层级跳转</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">后台管理地址</label>
            <input class="mdui-textfield-input" type="text" name="admin_path" value="{{$.config.AdminPath}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">自定义后台地址，默认为<code>/admin</code>，重启生效</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">首页账号切换</label>
            <div class="mdui-row-md-3 mdui-row-sm-2" style="margin-left: 50px">
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="account_choose" {{if or (eq $.config.AccountChoose "default") (eq $.config.AccountChoose "") }}checked="checked"{{end}} value="default" />
                    <i class="mdui-radio-icon"></i>
                    默认账号
                </label>
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="account_choose" {{if eq $.config.AccountChoose "display" }}checked="checked"{{end}} value="display" />
                    <i class="mdui-radio-icon"></i>
                    全部账号（WebDav必选）
                </label>
            </div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">登录账号</label>
            <input class="mdui-textfield-input" type="text" name="admin_user" value="{{$.config.AdminUser}}" placeholder="默认账号：admin" required />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">登录密码</label>
            <input class="mdui-textfield-input" type="password" name="admin_password" value="{{$.config.AdminPassword}}" placeholder="默认密码：PanIndex" required />
            <div class="mdui-textfield-helper mdui-text-color-purple">如果是第一次运行，请务必修改默认密码！</div>
        </div>
        <div>
            <label class="mdui-textfield-label">排序</label>
            <select name="s_column" class="mdui-select" mdui-select="{position:'bottom'}">
                <option value="default" {{- if eq $.config.SColumn "default"}}selected{{- end}}>网盘默认</option>
                <option value="file_name" {{- if eq $.config.SColumn "file_name"}}selected{{- end}}>文件名</option>
                <option value="file_size" {{- if eq $.config.SColumn "file_size"}}selected{{- end}}>文件大小</option>
                <option value="last_op_time">修改时间</option>
            </select>
            <select name="s_order" class="mdui-select" mdui-select="{position:'bottom'}" style="margin-left: 10px">
                <option value="asc" {{- if eq $.config.SOrder "asc"}}selected{{- end}}>升序</option>
                <option value="desc" {{- if eq $.config.SOrder "desc"}}selected{{- end}}>降序</option>
            </select>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">静态资源cdn</label>
            <div class="mdui-row-md-3 mdui-row-sm-2" style="margin-left: 50px">
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="cdn" {{- if eq $.config.Cdn "0"}}checked="checked"{{- end}} value="0" />
                    <i class="mdui-radio-icon"></i>
                    本机
                </label>
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="cdn" {{- if eq $.config.Cdn "1"}}checked="checked"{{- end}} value="1" />
                    <i class="mdui-radio-icon"></i>
                    国内cdn
                </label>
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="cdn" {{- if eq $.config.Cdn "2"}}checked="checked"{{- end}} value="2" />
                    <i class="mdui-radio-icon"></i>
                    jsdelivr
                </label>
            </div>
        </div>
        <div class="mdui-row-xs-1" style="margin-top: 20px">
            <div class="mdui-col">
                <button type="button" class="saveConfigBtn mdui-btn mdui-color-brown mdui-ripple" value="1">
                    <i class="mdui-icon material-icons">save</i> 保存
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}