{{define "pan/admin/common.html"}}
    {{template "pan/admin/base.html" .}}
{{end}}
{{define "admin-common"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 基础配置 </h3>
    </div>
    <form id="configForm">
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">绑定Host</label>
            <input class="mdui-textfield-input" type="text" name="host" value="{{.Config.Host}}" required />
            <div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">绑定端口</label>
            <input class="mdui-textfield-input" type="text" name="port" value="{{.Config.Port}}" required />
            <div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">网站标题</label>
            <input class="mdui-textfield-input" type="text" name="site_name" value="{{.Config.SiteName}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">显示优先于网盘名称</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">首页账号切换</label>
            <div class="mdui-row-md-3 mdui-row-sm-2" style="margin-left: 50px">
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="account_choose" {{if or (eq .Config.AccountChoose "default") (eq .Config.AccountChoose "") }}checked="checked"{{end}} value="default" />
                    <i class="mdui-radio-icon"></i>
                    默认账号
                </label>
                <label class="mdui-radio mdui-col">
                    <input type="radio" name="account_choose" {{if eq .Config.AccountChoose "display" }}checked="checked"{{end}} value="display" />
                    <i class="mdui-radio-icon"></i>
                    全部账号
                </label>
            </div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">后台登录密码</label>
            <input class="mdui-textfield-input" type="password" name="admin_password" value="{{.Config.AdminPassword}}" placeholder="默认密码：PanIndex" required />
            <div class="mdui-textfield-helper mdui-text-color-purple">如果是第一次运行，请务必修改默认密码！</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">接口 token</label>
            <input class="mdui-textfield-input" type="text" name="api_token" value="{{.Config.ApiToken}}" placeholder="用于接口调用" required />
        </div>
        <div>
            <label class="mdui-textfield-label">排序</label>
            <select name="s_column" class="mdui-select" mdui-select="{position:'bottom'}">
                <option value="default" {{- if eq .Config.SColumn "default"}}selected{{- end}}>网盘默认</option>
                <option value="file_name" {{- if eq .Config.SColumn "file_name"}}selected{{- end}}>文件名</option>
                <option value="file_size" {{- if eq .Config.SColumn "file_size"}}selected{{- end}}>文件大小</option>
                <option value="last_op_time">修改时间</option>
            </select>
            <select name="s_order" class="mdui-select" mdui-select="{position:'bottom'}" style="margin-left: 10px">
                <option value="asc" {{- if eq .Config.SOrder "asc"}}selected{{- end}}>升序</option>
                <option value="desc" {{- if eq .Config.SOrder "desc"}}selected{{- end}}>降序</option>
            </select>
        </div>
        <div class="mdui-row-xs-1" style="margin-top: 20px">
            <div class="mdui-col">
                <button type="button" class="saveConfigBtn mdui-btn mdui-color-brown mdui-ripple" value="1">
                    <i class="mdui-icon material-icons">save</i> 保存
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}