{{define "pan/admin/disk.html"}}
    {{template "pan/admin/base.html" .}}
{{end}}
{{define "admin-disk"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 网盘挂载 <small>拖动修改显示顺序</small></h3>
    </div>
    <div class="mdui-table-fluid">
        <div class="mdui-toolbar mdui-float-right">
            <a id="addDiskBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '添加'}">
                <i class="mdui-icon material-icons">add_circle</i>
            </a>
            <a id="updateDiskBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '修改'}">
                <i class="mdui-icon material-icons">update</i>
            </a>
            <a id="openUploadDialog" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '文件上传'}">
                <i class="mdui-icon material-icons">cloud_upload</i>
            </a>
            <a id="refreshTokenBtn"  href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '刷新令牌'}">
                <i class="mdui-icon material-icons">refresh</i>
            </a>
            <a id="refreshCacheBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '刷新缓存'}">
                <i class="mdui-icon material-icons">cached</i>
            </a>
            <a id="delDiskBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '删除'}">
                <i class="mdui-icon material-icons">remove_circle</i>
            </a>
        </div>
        <table class="mdui-table mdui-table-hoverable mdui-table-selectable">
            <thead>
            <tr>
                <th>网盘名称</th>
                <th>网盘类型</th>
                <th>登录状态</th>
                <th>缓存状态</th>
                <th>文件总数</th>
                <th>上一次缓存</th>
                <th>耗时</th>
            </tr>
            </thead>
            <tbody id="items">
            {{- if gt (len .Config.Accounts) 0 }}
            {{- range .Config.Accounts}}
            <tr data-id="{{.Id}}">
                <td>
                    <div class="mdui-chip handle">
                        {{- if eq .Mode "cloud189"}}
                            <span class="mdui-chip-icon mdui-color-cyan"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "teambition-us"}}
                            <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "teambition"}}
                            <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "onedrive"}}
                            <span class="mdui-chip-icon mdui-color-blue-200"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "native"}}
                            <span class="mdui-chip-icon mdui-color-blue-grey"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "aliyundrive"}}
                            <span class="mdui-chip-icon mdui-color-deep-purple-accent"><i class="mdui-icon material-icons">face</i></span>
                        {{else}}
                        {{end}}
                        <span class="mdui-chip-title mdui-text-truncate" style="max-width: 100px;" mdui-tooltip="{content: '{{.Name}}'}">{{.Name}}</span>
                    </div>
                </td>
                <td>
                {{- if eq .Mode "native"}}
                    本地磁盘
                {{- else if eq .Mode "cloud189"}}
                    天翼云盘
                {{- else if eq .Mode "aliyundrive"}}
                    阿里云盘
                {{- else if eq .Mode "onedrive"}}
                    微软云盘
                {{- else if eq .Mode "teambition"}}
                    Teambition项目盘
                {{- else if eq .Mode "teambition-us"}}
                    Teambition国际服
                {{- else}}
                {{- end}}
                </td>
                <td>
                    {{- if eq .Mode "native"}}
                        -
                    {{- else}}
                        {{- if eq .CookieStatus 1}}
                            未刷新
                        {{- else if eq .CookieStatus 2}}
                            正常
                        {{- else if eq .CookieStatus 3}}
                            失效
                        {{- else if eq .CookieStatus 4}}
                            登录失败
                        {{- else if eq .CookieStatus -1}}
                            刷新中
                        {{- else}}
                            未知
                        {{- end}}
                    {{- end}}
                </td>
                <td>
                    {{- if eq .Mode "native"}}
                        -
                    {{- else}}
                        {{- if eq .Status 1}}
                            未缓存
                        {{- else if eq .Status 2}}
                            缓存成功
                        {{- else if eq .Status 3}}
                            缓存失败
                        {{- else if eq .Status -1}}
                            缓存中
                        {{- else}}
                            未知
                        {{- end}}
                    {{- end}}
                </td>
                <td>
                    {{- if eq .Mode "native"}}
                    -
                    {{- else}}
                    {{.FilesCount}}
                    {{- end}}
                </td>
                <td>
                    {{- if eq .Mode "native"}}
                    -
                    {{- else}}
                    {{.LastOpTime}}
                    {{- end}}
                </td>
                <td>
                    {{- if eq .Mode "native"}}
                    -
                    {{- else}}
                    {{.TimeSpan}}
                    {{- end}}
                </td>
            </tr>
            {{- end}}
            {{- end}}
            </tbody>
        </table>
    </div>
</div>
<div id="disk_dialog" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div id="title" class="mdui-dialog-title">添加</div>
        <form id="accountForm" onsubmit="return savePwddir()">
        <div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">message</i>
            <label class="mdui-textfield-label">网盘名称</label>
            <input type="hidden" name="id" />
            <input class="mdui-textfield-input" type="text" name="name" value="" required>
            <div class="mdui-textfield-helper"><a href="https://libsgh.github.io/PanIndex/#/config?id=%e8%b4%a6%e5%8f%b7%e7%bb%91%e5%ae%9a" target="_blank">说明</a></div>
        </div>
        <div>
            <label class="mdui-textfield-label mdui-text-color-pink-300" style="margin-left: 50px">网盘模式</label>
            <select id="theme" name="mode" class="mdui-select" mdui-select="{position:'bottom'}" style="margin-left: 50px">
                <option value="native">本地磁盘</option>
                <option value="cloud189">天翼云盘</option>
                <option value="aliyundrive">阿里云盘</option>
                <option value="teambition">Teambition项目盘</option>
                <option value="teambition-us">Teambition国际盘</option>
                <option value="onedrive">OneDrive</option>
            </select>
        </div>
        <div id="UserDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">account_circle</i>
            <label class="mdui-textfield-label" id="user_label">用户名</label>
            <input class="mdui-textfield-input" type="text" name="user" required>
        </div>
        <div id="PasswordDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">lock</i>
            <label class="mdui-textfield-label" id="password_label">密码</label>
            <input class="mdui-textfield-input" type="password" name="password">
        </div>
        <div id="RefreshTokenDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">refresh</i>
            <label class="mdui-textfield-label">刷新令牌（Refresh Token）</label>
            <input class="mdui-textfield-input" type="text" name="refresh_token">
        </div>
        <div id="RedirectUriDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">insert_link</i>
            <label class="mdui-textfield-label">重定向地址</label>
            <input class="mdui-textfield-input" type="text" name="redirect_uri" placeholder="https://mgaa.noki.workers.dev">
        </div>
        <div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">folder_open</i>
            <label class="mdui-textfield-label">根目录ID(路径)</label>
            <input class="mdui-textfield-input" type="text" name="root_id" required>
            <div class="mdui-textfield-helper"><a href="https://libsgh.github.io/PanIndex/#/question?id=%e5%b8%b8%e8%a7%81%e9%97%ae%e9%a2%98" target="_blank">如何获取目录ID？</a></div>
        </div>
        <div class="sync-div mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">schedule</i>
            <label class="mdui-textfield-label">定时刷新缓存</label>
            <input class="mdui-textfield-input" type="text" name="sync_cron" placeholder="0 0 4 1/1 * ?" value="{{.SyncCron}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">为空将关闭定时缓存，<a href="https://cron.qqe2.com/" target="_blank">cron表达式在线生成</a></div>
        </div>
        <div class="sync-div mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">folder_open</i>
            <label class="mdui-textfield-label">定时缓存目录</label>
            <input class="mdui-textfield-input" type="text" name="sync_dir" value="/" placeholder="/">
            <div class="mdui-textfield-helper">定时任务只更新某个目录的缓存， 默认缓存全部</div>
        </div>
        <div class="sync-div" style="margin-left: 50px;margin-top: 10px;margin-bottom: 10px">
            <label class="mdui-checkbox">
                <input type="checkbox" name="sync_child" value="0" checked/>
                <i class="mdui-checkbox-icon"></i>
                缓存是否包含子目录
            </label>
        </div>
        </form>
    </div>
    <div class="mdui-dialog-actions">
        <button id="saveAccountBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown"><i class="mdui-icon material-icons">save</i> 保存</button>
        <button id="closeAccountBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600"><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
</div>
<div id="refresh_cache_dialog" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">刷新缓存</div>
        <form id="cacheForm">
            <div class="mdui-textfield mdui-typo">
                <i class="mdui-icon material-icons">folder_open</i>
                <label class="mdui-textfield-label">远程目录(PanIndex路径)</label>
                <input type="hidden" name="account_id" />
                <input class="mdui-textfield-input" name="cache_folder" type="text" value="/" placeholder="/" required="required"/>
                <div class="mdui-textfield-helper">这里是<code>PanIndex</code>的相对路径，不需要带盘符<code>/d_0</code></div>
            </div>
        </form>
    </div>
    <div class="mdui-dialog-actions">
        <button id="confirmRefreshCacheBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown"><i class="mdui-icon material-icons">save</i> 确定</button>
        <button id="closeCacheBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600"><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
</div>
<div id="upload_dialog" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">文件上传</div>
        <form id="uploadForm">
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">选择文件</label>
                <input id="uploadFile" type="file" class="mdui-textfield-input"
                       placeholder="本地上传" multiple/>
            </div>
            <div class="mdui-textfield mdui-typo">
                <i class="mdui-icon material-icons">folder_open</i>
                <label class="mdui-textfield-label">远程目录(PanIndex路径)</label>
                <input type="hidden" name="account_id" />
                <input class="mdui-textfield-input" name="upload_folder" type="text" value="/" placeholder="/" required="required"/>
                <div class="mdui-textfield-helper">这里是<code>PanIndex</code>的相对路径，不需要带盘符<code>/d_0</code></div>
            </div>
        </form>
    </div>
    <div class="mdui-dialog-actions">
        <button type="button" class="uploadBtn mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown ld-ext-right" value="0"><i class="mdui-icon material-icons">file_upload</i> 上传</button>
        <button type="button" class="uploadBtn mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown ld-ext-right" value="2"><i class="mdui-icon material-icons">file_upload</i> 上传并刷新</button>
        <button id="closeUploadBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600"><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
</div>
{{end}}