{{define "templates/pan/admin/disk.html"}}
    {{template "templates/pan/admin/base.html" .}}
{{end}}
{{define "admin-disk"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 网盘挂载 <small>拖动头像修改显示顺序</small></h3>
    </div>
    <div class="mdui-table-fluid">
        <div class="mdui-toolbar mdui-float-right">
            <a id="addDiskBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '添加'}">
                <i class="mdui-icon material-icons">add_circle</i>
            </a>
            <a id="updateDiskBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '修改'}">
                <i class="mdui-icon material-icons">update</i>
            </a>
            <a id="cacheConfig" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '缓存设置'}">
                <i class="mdui-icon material-icons">branding_watermark</i>
            </a>
            <a id="openUploadDialog" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '文件上传'}">
                <i class="mdui-icon material-icons">cloud_upload</i>
            </a>
            <a id="refreshTokenBtn"  href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '刷新令牌'}">
                <i class="mdui-icon material-icons">refresh</i>
            </a>
            <a id="refreshCacheBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '刷新缓存'}">
                <i class="mdui-icon material-icons">cached</i>
            </a>
            <a id="refreshBatchCacheBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '批量刷新缓存'}">
                <i class="mdui-icon material-icons">clear_all</i>
            </a>
            <a id="delDiskBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '删除'}">
                <i class="mdui-icon material-icons">remove_circle</i>
            </a>
        </div>
        <table class="mdui-table mdui-table-hoverable mdui-table-selectable">
            <thead>
            <tr>
                <th>网盘名称</th>
                <th>网盘类型</th>
                <th>登录状态</th>
                <th>缓存策略</th>
                <th>缓存状态</th>
                <th>文件总数</th>
                <th>上一次更新</th>
                <th>耗时</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody id="items">
            {{- if gt (len $.config.Accounts) 0 }}
            {{- range $.config.Accounts}}
            <tr data-id="{{.Id}}" data-name="{{.Name}}" data-sync-dir="{{.SyncDir}}" data-expire-timespan="{{.ExpireTimeSpan}}" data-sync-child="{{.SyncChild}}" data-cache-policy="{{.CachePolicy}}" data-sync-cron="{{.SyncCron}}">
                <td>
                    <div class="mdui-chip handle">
                        {{- if eq .Mode "cloud189"}}
                            <span class="mdui-chip-icon mdui-color-cyan"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "teambition-us"}}
                            <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "teambition"}}
                            <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "onedrive"}}
                            <span class="mdui-chip-icon mdui-color-blue-200"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "onedrive-cn"}}
                            <span class="mdui-chip-icon mdui-color-blue-200"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "native"}}
                            <span class="mdui-chip-icon mdui-color-blue-grey"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "aliyundrive"}}
                            <span class="mdui-chip-icon mdui-color-deep-purple-accent"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "ftp"}}
                            <span class="mdui-chip-icon"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "webdav"}}
                            <span class="mdui-chip-icon mdui-color-brown"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "yun139"}}
                            <span class="mdui-chip-icon mdui-color-pink"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "googledrive"}}
                            <span class="mdui-chip-icon mdui-color-amber"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "s3"}}
                            <span class="mdui-chip-icon mdui-color-orange"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "pikpak"}}
                            <span class="mdui-chip-icon mdui-color-indigo"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "123"}}
                            <span class="mdui-chip-icon mdui-color-light-blue"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "115"}}
                            <span class="mdui-chip-icon mdui-color-blue-900"><i class="mdui-icon material-icons">face</i></span>
                        {{- else if eq .Mode "aliyundrive-share"}}
                            <span class="mdui-chip-icon mdui-color-deep-purple-accent"><i class="mdui-icon material-icons">face</i></span>
                        {{- else}}
                        {{- end}}
                        <span class="mdui-chip-title mdui-text-truncate" style="max-width: 100px;" mdui-tooltip="{content: '{{.Name}}'}">{{.Name}}</span>
                    </div>
                </td>
                <td>
                {{- if eq .Mode "native"}}
                    本地磁盘
                {{- else if eq .Mode "cloud189"}}
                    天翼云盘
                {{- else if eq .Mode "aliyundrive"}}
                    阿里云盘
                {{- else if eq .Mode "onedrive"}}
                    微软云盘
                {{- else if eq .Mode "onedrive-cn"}}
                    世纪互联
                {{- else if eq .Mode "teambition"}}
                    Teambition项目盘
                {{- else if eq .Mode "teambition-us"}}
                    Teambition国际服
                {{- else if eq .Mode "ftp"}}
                    FTP
                {{- else if eq .Mode "webdav"}}
                    WebDav
                {{- else if eq .Mode "yun139"}}
                    和彩云
                {{- else if eq .Mode "googledrive"}}
                    谷歌云盘
                {{- else if eq .Mode "s3"}}
                    S3
                {{- else if eq .Mode "pikpak"}}
                    PikPak
                {{- else if eq .Mode "123"}}
                    123云盘
                {{- else if eq .Mode "115"}}
                    115云盘
                {{- else if eq .Mode "aliyundrive-share"}}
                    阿里云盘（分享）
                {{- else}}
                {{- end}}
                </td>
                <td>
                    {{- if eq .CookieStatus 1}}
                    未刷新
                    {{- else if eq .CookieStatus 2}}
                    正常
                    {{- else if eq .CookieStatus 3}}
                    失效
                    {{- else if eq .CookieStatus 4}}
                    登录失败
                    {{- else if eq .CookieStatus -1}}
                    刷新中
                    {{- else}}
                    -
                    {{- end}}
                </td>
                <td>
                    {{- if eq .CachePolicy "nc"}}
                    API直连(No Cache)
                    {{- else if eq .CachePolicy "mc"}}
                    命中缓存（Memory）
                    {{- else if eq .CachePolicy "dc"}}
                    完全缓存（DB）
                    {{- else}}
                    -
                    {{- end}}
                </td>
                <td>
                    {{- if ne .CachePolicy "dc"}}
                        -
                    {{- else}}
                        {{- if eq .Status 1}}
                            未缓存
                        {{- else if eq .Status 2}}
                            缓存成功
                        {{- else if eq .Status 3}}
                            缓存失败
                        {{- else if eq .Status -1}}
                            缓存中
                        {{- else}}
                            未知
                        {{- end}}
                    {{- end}}
                </td>
                <td>
                    {{- if ne .CachePolicy "dc"}}
                    -
                    {{- else}}
                    {{.FilesCount}}
                    {{- end}}
                </td>
                <td>
                    {{- if ne .CachePolicy "dc"}}
                    -
                    {{- else}}
                    {{.LastOpTime}}
                    {{- end}}
                </td>
                <td>
                    {{- if ne .CachePolicy "dc"}}
                    -
                    {{- else}}
                    {{.TimeSpan}}
                    {{- end}}
                </td>
                <td>{{.Info}}</td>
            </tr>
            {{- end}}
            {{- end}}
            </tbody>
        </table>
    </div>
</div>
<div id="disk_dialog" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div id="title" class="mdui-dialog-title">添加</div>
        <form id="accountForm" onsubmit="return savePwddir()">
        <div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">message</i>
            <label class="mdui-textfield-label">网盘名称</label>
            <input type="hidden" name="id" />
            <input class="mdui-textfield-input" type="text" name="name" value="" required>
            <div class="mdui-textfield-helper"><a href="https://docs.noki.icu/#/docs/zh/question?id=%e5%a6%82%e4%bd%95%e8%8e%b7%e5%8f%96%e7%9b%ae%e5%bd%95id%ef%bc%9f" target="_blank">说明</a></div>
        </div>
        <div>
            <label class="mdui-textfield-label mdui-text-color-pink-300" style="margin-left: 50px">网盘模式</label>
            <select id="mode" name="mode" style="margin-left: 50px">
                <option value="native">本地磁盘</option>
                <option value="ftp">FTP</option>
                <option value="webdav">WebDav</option>
                <option value="cloud189">天翼云盘</option>
                <option value="aliyundrive">阿里云盘</option>
                <option value="aliyundrive-share">阿里云盘（分享）</option>
                <option value="teambition">Teambition项目盘</option>
                <option value="teambition-us">Teambition国际盘</option>
                <option value="yun139">和彩云</option>
                <option value="onedrive">OneDrive</option>
                <option value="onedrive-cn">OneDrive世纪互联</option>
                <option value="googledrive">GoogleDrive</option>
                <option value="s3">S3</option>
                <option value="pikpak">PikPak</option>
                <option value="123">123云盘</option>
                <option value="115">115云盘</option>
            </select>
        </div>
        <div id="UserDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">account_circle</i>
            <label class="mdui-textfield-label" id="user_label">用户名</label>
            <input class="mdui-textfield-input" type="text" name="user">
        </div>
        <div id="PasswordDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">lock</i>
            <label class="mdui-textfield-label" id="password_label">密码</label>
            <input class="mdui-textfield-input" type="password" name="password">
        </div>
        <div id="ApiUrlDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">insert_link</i>
            <label class="mdui-textfield-label" id="api_url_label"></label>
            <input id="api_url" class="mdui-textfield-input" type="text" name="api_url">
        </div>
        <div id="RefreshTokenDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">refresh</i>
            <label class="mdui-textfield-label">刷新令牌（Refresh Token）</label>
            <input class="mdui-textfield-input" type="text" name="refresh_token">
            <div class="mdui-textfield-helper"><a id="aliQrCodeBtn" href="javascript:void(0)">点击获取</a></div>
        </div>
        <div id="qrcodeDiv" class="mdui-card" style="margin-left: 50px;width: 92%;height: 202px;display: none">
            <div class="mdui-card-content">
                <img id="qrcodeImg" class="mdui-center" style="height: 150px" src="">
                <button id="refreshQrcodeBtn" class="mdui-btn mdui-btn-dense mdui-color-teal mdui-ripple mdui-center">刷新二维码</button>
            </div>
        </div>
        <div id="RedirectUriDiv" class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">insert_link</i>
            <label class="mdui-textfield-label">重定向地址</label>
            <input class="mdui-textfield-input" type="text" name="redirect_uri" placeholder="https://mgaa.noki.workers.dev">
        </div>
        <div id="SiteIdDiv" class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">web</i>
            <label class="mdui-textfield-label" id="site_label">网站ID</label>
            <input class="mdui-textfield-input" type="text" name="site_id">
        </div>
        <div id="S3PathDiv">
            <label class="mdui-textfield-label mdui-text-color-pink-300" style="margin-left: 50px">S3ForcePathStyle</label>
            <select id="path_style" name="path_style" style="margin-left: 50px">
                <option value="Path" selected>path-style bucket</option>
                <option value="VirtualHosting">virtual hosted bucket</option>
            </select>
        </div>
        <div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">folder_open</i>
            <label class="mdui-textfield-label">根目录ID(路径)</label>
            <input class="mdui-textfield-input" type="text" name="root_id">
            <div class="mdui-textfield-helper"><a href="https://docs.noki.icu/#/docs/zh/question?id=%e5%a6%82%e4%bd%95%e8%8e%b7%e5%8f%96%e7%9b%ae%e5%bd%95id%ef%bc%9f" target="_blank">如何获取目录ID？</a></div>
        </div>
        <div class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">domain</i>
            <label class="mdui-textfield-label">域名Host</label>
            <input class="mdui-textfield-input" type="text" name="host" placeholder="localhost:5238">
            <div class="mdui-textfield-helper">设置后，将根据Host过滤账号列表</div>
        </div>
        <div style="margin-left: 50px;margin-top: 10px;margin-bottom: 10px">
            <label class="mdui-checkbox">
                <input type="checkbox" name="down_transfer"/>
                <i class="mdui-checkbox-icon"></i>
                流量中转
            </label>
        </div>
        <div class="mdui-textfield mdui-textfield-has-bottom">
            <i class="mdui-icon material-icons">insert_link</i>
            <label class="mdui-textfield-label">中转地址</label>
            <input class="mdui-textfield-input" type="text" name="transfer_domain" placeholder="原域名|中转域名">
            <div class="mdui-textfield-helper">为空将在本机中转， 多个,分隔</div>
        </div>
            <div class="mdui-textfield">
                <i class="mdui-icon material-icons">info</i>
                <label class="mdui-textfield-label">备注</label>
                <textarea class="mdui-textfield-input" type="text" name="info"></textarea>
            </div>
        </form>
    </div>
    <div class="mdui-dialog-actions">
        <button id="saveAccountBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown"><i class="mdui-icon material-icons">save</i> 保存</button>
        <button id="closeAccountBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600"><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
</div>
<div id="cache_config_dialog" class="mdui-dialog">
    <form id="cacheConfigForm">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">缓存配置</div>
            <div>
                <label class="mdui-textfield-label mdui-text-color-pink-300" style="margin-left: 50px">缓存策略</label>
                <input type="hidden" name="id" value="">
                <select id="cachePolicy" name="cache_policy" style="margin-left: 50px">
                    <option value="nc" selected>Api直连（No Cache）</option>
                    <option value="mc">命中缓存（Memory Cache）</option>
                    <option value="dc">完全缓存（Database Cache）</option>
                </select>
            </div>
            <div class="memoryCacheConfigDiv mdui-textfield mdui-textfield-has-bottom">
                <i class="mdui-icon material-icons">schedule</i>
                <label class="mdui-textfield-label">内存缓存有效期</label>
                <input class="mdui-textfield-input" type="text" name="expire_time_span" placeholder="1" value="{{.ExpireTimeSpan}}" />
                <div class="mdui-textfield-helper mdui-text-color-purple">单位是小时</div>
            </div>
            <div class="dbCacheConfigDiv mdui-textfield mdui-textfield-has-bottom">
                <i class="mdui-icon material-icons">schedule</i>
                <label class="mdui-textfield-label">定时刷新缓存</label>
                <input class="mdui-textfield-input" type="text" name="sync_cron" placeholder="0 0 4 1/1 * ?" value="{{.SyncCron}}" />
                <div class="mdui-textfield-helper mdui-text-color-purple">为空将关闭定时缓存，<a href="https://cron.qqe2.com/" target="_blank">cron表达式在线生成</a></div>
            </div>
            <div class="dbCacheConfigDiv mdui-textfield mdui-textfield-has-bottom">
                <i class="mdui-icon material-icons">folder_open</i>
                <label class="mdui-textfield-label">定时缓存目录</label>
                <textarea class="mdui-textfield-input" type="text" name="sync_dir" value="/" placeholder="/"></textarea>
                <div class="mdui-textfield-helper">定时任务只更新某些目录的缓存（多个目录逗号分隔）， 默认缓存全部</div>
            </div>
            <div class="dbCacheConfigDiv" style="margin-left: 50px;margin-top: 10px;margin-bottom: 10px">
                <label class="mdui-checkbox">
                    <input type="checkbox" name="sync_child" value="0" checked/>
                    <i class="mdui-checkbox-icon"></i>
                    缓存是否包含子目录
                </label>
            </div>
    </div>
    <div class="mdui-dialog-actions">
        <button type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown" onclick="saveCacheConfig(1)"><i class="mdui-icon material-icons">save</i> 确定并重置缓存</button>
        <button type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown" onclick="saveCacheConfig(0)"><i class="mdui-icon material-icons">save</i> 确定</button>
        <button type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600" mdui-dialog-cancel><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
    </form>
</div>
<div id="refresh_cache_dialog" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">刷新缓存</div>
        <form id="cacheForm">
            <div class="mdui-textfield mdui-typo">
                <i class="mdui-icon material-icons">folder_open</i>
                <label class="mdui-textfield-label">远程目录(PanIndex路径)</label>
                <input type="hidden" name="account_id" />
                <input class="mdui-textfield-input" name="cache_folder" type="text" value="/" placeholder="/" required="required"/>
                <div class="mdui-textfield-helper"><code>PanIndex</code>的虚拟路径，格式：<code>/{name}/a/b</code></div>
            </div>
        </form>
    </div>
    <div class="mdui-dialog-actions">
        <button id="confirmRefreshCacheBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown"><i class="mdui-icon material-icons">save</i> 确定</button>
        <button id="closeCacheBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600"><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
</div>
<div id="upload_dialog" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">文件上传</div>
        <form id="uploadForm">
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">选择文件</label>
                <input id="uploadFile" type="file" class="mdui-textfield-input"
                       placeholder="本地上传" multiple/>
            </div>
            <div class="mdui-textfield mdui-typo">
                <i class="mdui-icon material-icons">folder_open</i>
                <label class="mdui-textfield-label">远程目录(PanIndex路径)</label>
                <input type="hidden" name="account_id" />
                <input class="mdui-textfield-input" name="upload_folder" type="text" value="/" placeholder="/" required="required"/>
                <div class="mdui-textfield-helper"><code>PanIndex</code>的虚拟路径，格式：<code>/{name}/a/b</code></div>
            </div>
        </form>
    </div>
    <div class="mdui-dialog-actions">
        <button type="button" class="uploadBtn mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown ld-ext-right" value="0"><i class="mdui-icon material-icons">file_upload</i> 上传</button>
        <button type="button" class="uploadBtn mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown ld-ext-right" value="2"><i class="mdui-icon material-icons">file_upload</i> 上传并刷新</button>
        <button id="closeUploadBtn" type="button" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-grey-600"><i class="mdui-icon material-icons">close</i> 关闭</button>
    </div>
</div>
{{end}}