{{define "templates/pan/admin/hide.html"}}
    {{template "templates/pan/admin/base.html" .}}
{{end}}
{{define "admin-hide"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 隐藏文件（夹） <small>隐藏部分文件或文件夹</small></h3>
    </div>
    <div class="mdui-table-fluid">
        <div class="mdui-toolbar mdui-float-right">
            <a id="addHideBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '添加'}">
                <i class="mdui-icon material-icons">add_circle</i>
            </a>
            <a id="delHideBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '删除'}">
                <i class="mdui-icon material-icons">remove_circle</i>
            </a>
        </div>
        <table class="mdui-table mdui-table-hoverable mdui-table-selectable ">
            <thead>
            <tr>
                <th>文件（夹）路径</th>
            </tr>
            </thead>
            <tbody>
            {{- range $filePath, $value := $.config.HideFiles}}
            <tr>
                <td>{{$filePath}}</td>
            </tr>
            {{- end}}
            </tbody>
        </table>
    </div>
</div>
<div id="hide_dialog" class="mdui-dialog">
    <form id="configForm" onsubmit="return saveHide()">
        <div class="mdui-dialog-content">
            <div class="mdui-dialog-title">添加</div>
            <div class="mdui-textfield">
                <i class="mdui-icon material-icons">folder_open</i>
                <label class="mdui-textfield-label">文件（夹）路径</label>
                <input class="mdui-textfield-input" type="text" name="file_path" required>
                <div class="mdui-textfield-helper mdui-typo"><code>PanIndex</code>的虚拟路径，格式：<code>/{name}/a/b</code></code></div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button type="submit" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown" mdui-dialog-confirm><i class="mdui-icon material-icons">save</i> 保存</button>
        </div>
    </form>
</div>
{{end}}