<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="icon" href="/static/img/favicon-native.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/static/img/favicon-native.ico" type="image/x-icon" />
	<!-- MDUI CSS -->
	<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
			integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
			crossorigin="anonymous"
	/>
	<!-- MDUI JavaScript -->
	<script
			src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
			integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
			crossorigin="anonymous"
	></script>
	<style>
		code {
			padding: 2px 6px;
			color: #c7254e;
			background-color: #f7f7f9;
			border-radius: 2px;
		}
		.mdui-container {
			 margin-top: 20px;
			 margin-bottom: 30px;
		 }
		.mdui-card {
			box-shadow: none;
		}

	</style>
	<title>PanIndex - 系统配置</title>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-blue">
<div class="mdui-container">
	<div class="mdui-card">
		<div class="mdui-card-content">
			<div class="mdui-tab mdui-tab-centered" mdui-tab>
				<a href="#base-config" class="mdui-ripple"><i class="mdui-icon material-icons">settings</i><label>基础配置</label></a>
				<a href="#bind-account" class="mdui-ripple"><i class="mdui-icon material-icons">account_circle</i><label>账号绑定</label></a>
				<a href="#cron" class="mdui-ripple"><i class="mdui-icon material-icons">access_alarms</i><label>定时任务</label></a>
			</div>
			<div id="base-config" class="mdui-p-a-2 mdui-typo">
				<form>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">绑定Host</label>
						<input class="mdui-textfield-input" type="text" name="host" value="{{.Host}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">绑定端口</label>
						<input class="mdui-textfield-input" type="text" name="port" value="{{.Port}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">修改后需要重启生效</div>
					</div>
					<div>
						<label class="mdui-textfield-label">主题</label>
						<select id="theme" name="theme" class="mdui-select" mdui-select>
							<option value='mdui' {{if eq .Theme "mdui"}}selected{{else}}{{end}}>mdui</option>
							<option value='classic' {{if eq .Theme "classic"}}selected{{else}}{{end}}>classic</option>
							<option value='bootstrap' {{if eq .Theme "bootstrap"}}selected{{else}}{{end}}>bootstrap</option>
							<option value='materialdesign' {{if eq .Theme "materialdesign"}}selected{{else}}{{end}}>materialdesign</option>
						</select>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">管理员密码</label>
						<input class="mdui-textfield-input" type="password" name="admin_password" />
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">接口 token</label>
						<input class="mdui-textfield-input" type="text" name="api_token" value="{{.ApiToken}}" />
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">自定义底部信息</label>
						<input class="mdui-textfield-input" type="text" name="footer" placeholder="支持html" value="{{.Footer}}" />
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">隐藏目录id</label>
						<textarea class="mdui-textfield-input" name="hide_file_id" placeholder="一行一个"></textarea>
					</div>
				</form>
			</div>
			<div id="bind-account">
				<div class="mdui-container">
					<div class="mdui-row">
						<div class="mdui-col-xs-3">
							<ul class="mdui-list">
								{{range $i, $a := .Accounts}}
									<li class="mdui-list-item mdui-ripple acli" onclick="fillAccount({{$i}})">
										<i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-{{if eq .Mode "cloud189"}}cyan{{else}}{{end}}{{if eq .Mode "teambition"}}blue{{else}}{{end}}{{if eq .Mode "native"}}blue-grey{{else}}{{end}}{{if eq .Mode "ali"}}orange{{else}}{{end}}">face</i>
										<div class="mdui-list-item-content">{{.Name}}</div>
										<label class="mdui-switch">
											<input type="checkbox" checked onchange="" />
											<i class="mdui-switch-icon"></i>
										</label>
									</li>
								{{end}}
							</ul>
						</div>
						<div class="mdui-col-xs-9">
							<form id="accountForm">
								<div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">message</i>
									<label class="mdui-textfield-label">显示名称</label>
									<input type="hidden" name="id" />
									<input class="mdui-textfield-input" type="text" name="name" value="" required>
								</div>
								<div class="mdui-textfield">
									<i class="mdui-icon material-icons">more_horiz</i>
									<label class="mdui-textfield-label mdui-text-color-pink-300">网盘模式</label>
									<label class="mdui-radio" style="margin-left: 50px">
										<input type="radio" name="mode" checked="checked" value="native" />
										<i class="mdui-radio-icon"></i>
										native
									</label>
									<label class="mdui-radio" style="margin-left: 15px">
										<input type="radio" name="mode" value="cloud189" />
										<i class="mdui-radio-icon"></i>
										cloud189
									</label>
									<label class="mdui-radio" style="margin-left: 15px">
										<input type="radio" name="mode" value="teambition" />
										<i class="mdui-radio-icon"></i>
										teambition
									</label>
								</div>
								<div id="UserDiv" class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">account_circle</i>
									<label class="mdui-textfield-label">用户名</label>
									<input class="mdui-textfield-input" type="text" name="user">
								</div>
								<div id="PasswordDiv" class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">lock</i>
									<label class="mdui-textfield-label">密码</label>
									<input class="mdui-textfield-input" type="password" name="password">
								</div>
								<div id="RefreshTokenDiv" class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">refresh</i>
									<label class="mdui-textfield-label">刷新令牌</label>
									<input class="mdui-textfield-input" type="text" name="refresh_token">
								</div>
								<div id="AccessTokenDiv" class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">beenhere</i>
									<label class="mdui-textfield-label">访问令牌</label>
									<input class="mdui-textfield-input" type="text" name="access_token">
								</div>
								<div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">folder_open</i>
									<label class="mdui-textfield-label">根目录ID(路径)</label>
									<input class="mdui-textfield-input" type="text" name="root_id" required>
								</div>
								<div class="mdui-row-xs-4">
									<div class="mdui-col">
										<button type="button" class="saveAccountBtn mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple" value="0"><i class="mdui-icon material-icons">add</i> 添加</button>
									</div>
									{{if not .Accounts}}
									{{else}}
										<div class="mdui-col">
											<button type="button" class="saveAccountBtn mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple" value="1			"><i class="mdui-icon material-icons">edit</i>修改</button>
										</div>
									{{end}}
									<div class="mdui-col">
										<button id="resetBtn" type="button" class="mdui-btn mdui-btn-block mdui-color-orange mdui-ripple"><i class="mdui-icon material-icons">autorenew</i>重置</button>
									</div>
									{{if not .Accounts}}
									{{else}}
										<div class="mdui-col">
											<button id="deleteBtn" type="button" class="mdui-btn mdui-btn-block mdui-color-red mdui-ripple"><i class="mdui-icon material-icons">delete</i>删除</button>
										</div>
									{{end}}
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="cron" class="mdui-p-a-2 mdui-typo">
				<div class="mdui-typo">
					<blockquote>
						<p><a href="https://cron.qqe2.com/" target="_blank">cron表达式在线生成</a>，可选项仅在heroku部署环境下需要配置</p>
					</blockquote>
				</div>
				<form>
					<div class="mdui-row">
						<div class="mdui-col-xs-10 mdui-textfield">
							<label class="mdui-textfield-label">定时任务-刷新登录cookie</label>
							<input class="mdui-textfield-input" type="text" name="refresh_cookie" placeholder="0 0 8 1/1 * ?" value="{{.CronExps.RefreshCookie}}" />
							<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
						</div>
						<div class="mdui-col-xs-2">
							<br>
							<button class="mdui-fab mdui-fab-mini mdui-ripple" title="手动执行一次">
								<i class="mdui-icon material-icons">cached</i>
							</button>
						</div>
					</div>
					<div class="mdui-row">
						<div class="mdui-col-xs-10 mdui-textfield">
							<label class="mdui-textfield-label">定时任务-刷新目录缓存</label>
							<input class="mdui-textfield-input" type="text" name="refresh_cookie" placeholder="0 0 0/1 * * ?" value="{{.CronExps.UpdateFolderCache}}" />
							<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
						</div>
						<div class="mdui-col-xs-2">
							<br>
							<button class="mdui-fab mdui-fab-mini mdui-ripple" title="手动执行一次">
								<i class="mdui-icon material-icons">cached</i>
							</button>
						</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">定时任务-heroku防休眠（可选）</label>
						<input class="mdui-textfield-input" type="text" name="heroku_keep_alive" placeholder="0 0/5 * * * ?" value="{{.CronExps.HerokuKeepAlive}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">heroku防休眠地址（可选）</label>
						<input class="mdui-textfield-input" type="text" name="heroku_app_url" placeholder="https://appname,herokuapp.com" value="{{.HerokuAppUrl}}" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="mdui-text-center mdui-typo">
		©2021 <a href="https://github.com/libsgh/PanIndex" target="_blank">PanIndex</a>. All rights reserved.
	</div>
</div>
<script>
var $ = mdui.$;
var bd = new mdui.Dialog("#account_dialog");
function addAccount() {
	bd.open();
}
$("#accountForm").find("input[name=Mode]").on('change', function () {
	var mode = $(this).val();
	dynamicChgMode(mode);
});
$("#resetBtn").on('click', function () {
	$("#accountForm").find("input[name=name]").val("");
	$("#accountForm").find("input[name=Uuer]").val("");
	$("#accountForm").find("input[name=password]").val("");
	$("#accountForm").find("input[name=refresh_token]").val("");
	$("#accountForm").find("input[name=access_token]").val("");
	$("#accountForm").find("input[name=root_id]").val("");
	$("#accountForm").find("input[name=mode][value=native]").prop("checked", true);
});
var accounts = [
	{{range .Accounts}}
		{"name":{{.Name}},"id":{{.Id}},"mode":{{.Mode}},"user":{{.User}},"password":"",
			"refresh_token":{{.RefreshToken}},"access_token":{{.AccessToken}},"root_id":{{.RootId}}
		},
	{{end}}
	];
fillAccount(0);
function fillAccount(index) {
	if(accounts.length == 0){
		mdui.snackbar({
			message: '您还没有绑定网盘账号！'
		});
		dynamicChgMode("native");
		var inst = new mdui.Tab('.mdui-tab');
		inst.next();
		return;
	}
	$("ul").find("li").removeClass("mdui-list-item-active");
	$("ul").find("li").eq(index).addClass("mdui-list-item-active");
	var account = accounts[index];
	$("#accountForm").find("input[name=id]").val(account.id);
	$("#accountForm").find("input[name=name]").val(account.name);
	$("#accountForm").find("input[name=mode][value="+account.mode+"]").prop("checked", true);
	dynamicChgMode(account.mode);
	$("#accountForm").find("input[name=user]").val(account.user);
	$("#accountForm").find("input[name=refresh_token]").val(account.refresh_token);
	$("#accountForm").find("input[name=access_token]").val(account.access_token);
	$("#accountForm").find("input[name=root_id]").val(account.root_id);
}
function dynamicChgMode(mode){
	if(mode == "native"){
		$("#AccessTokenDiv").hide();
		$("#RefreshTokenDiv").hide();
		$("#UserDiv").hide();
		$("#PasswordDiv").hide();
	}else if (mode == "cloud189"){
		$("#AccessTokenDiv").hide();
		$("#RefreshTokenDiv").hide();
		$("#UserDiv").show();
		$("#PasswordDiv").show();
	}else if (mode == "teambition"){
		$("#AccessTokenDiv").hide();
		$("#RefreshTokenDiv").hide();
		$("#UserDiv").show();
		$("#PasswordDiv").show();
	}
}
$(".saveAccountBtn").on("click", function () {
	var account = $("#accountForm").serializeObject();
	var type = $(this).val();
	if (!$("#accountForm").valid()) {
		return false;
	}
	if(type == 0){
		account.id = "";
	}
	var config = {accounts:[account]};
	$.ajax({
		method: 'POST',
		url: '/api/admin/save',
		data: JSON.stringify(config),
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: d.msg,
				timeout: 2000,
				onClose: function(){
					location.reload();
				}
			});
		}
	});
});
$("#deleteBtn").on("click", function (){
	var id = $("#accountForm").find("input[name=id]").val();
	if(id != ""){
		$.ajax({
			method: 'POST',
			url: '/api/admin/deleteAccount?id='+id,
			success: function (data) {
				var d = JSON.parse(data);
				mdui.snackbar({
					message: d.msg,
					timeout: 2000,
					onClose: function(){
						location.reload();
					}
				});
			}
		});
	}
});
$.fn.serializeObject = function()
{
	var o = {};
	var a = this.serializeArray();
	$.each(a, function() {
		if (o[this.name]) {
			if (!o[this.name].push) {
				o[this.name] = [o[this.name]];
			}
			o[this.name].push(this.value || '');
		} else {
			o[this.name] = this.value || '';
		}
	});
	return o;
};
</script>
</body>
</html>