<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
{{if ne .FaviconUrl ""}}
	<link rel="icon" href="{{.FaviconUrl}}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{.FaviconUrl}}" type="image/x-icon" />
{{else}}
	<link rel="icon" href="/static/img/favicon-native.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/static/img/favicon-native.ico" type="image/x-icon" />
{{end}}
	<!-- MDUI CSS -->
	<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
			integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
			crossorigin="anonymous"
	/>
	<!-- MDUI JavaScript -->
	<script
			src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
			integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
			crossorigin="anonymous"
	></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.min.css"/>
	<style>
		code {
			padding: 2px 6px;
			color: #c7254e;
			background-color: #f7f7f9;
			border-radius: 2px;
		}
		.mdui-container {
			 margin-top: 20px;
			 margin-bottom: 30px;
		 }
		.mdui-card {
			box-shadow: none;
		}
	</style>
	<title>PanIndex - 系统配置</title>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-blue mdui-theme-layout-{{if eq .Theme "mdui"}}auto{{end}}{{if eq .Theme "mdui-dark"}}dark{{end}}{{if eq .Theme "mdui-light"}}light{{end}}">
<div class="mdui-container">
	<div class="mdui-card">
		<div class="mdui-card-content">
			<div class="mdui-tab mdui-tab-centered" mdui-tab>
				<a href="#base-config" class="mdui-ripple"><i class="mdui-icon material-icons">settings</i><label>基础配置</label></a>
				<a href="#bind-account" class="mdui-ripple"><i class="mdui-icon material-icons">account_circle</i><label>账号绑定</label></a>
				<a href="#cron" class="mdui-ripple"><i class="mdui-icon material-icons">access_alarms</i><label>定时任务</label></a>
				<a href="#upload" class="mdui-ripple"><i class="mdui-icon material-icons">cloud_upload</i><label>上传同步</label></a>
			</div>
			<div id="base-config" class="mdui-p-a-2 mdui-typo">
				<form id="configForm">
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">绑定Host</label>
						<input class="mdui-textfield-input" type="text" name="host" value="{{.Host}}" required />
						<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">绑定端口</label>
						<input class="mdui-textfield-input" type="text" name="port" value="{{.Port}}" required />
						<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">网站标题</label>
						<input class="mdui-textfield-input" type="text" name="site_name" value="{{.SiteName}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">显示优先于网盘名称</div>
					</div>
					<div>
						<label class="mdui-textfield-label">主题</label>
						<select id="theme" name="theme" class="mdui-select" mdui-select>
							<option value='mdui' {{if eq .Theme "mdui"}}selected{{else}}{{end}}>mdui</option>
							<option value='mdui-light' {{if eq .Theme "mdui-light"}}selected{{else}}{{end}}>mdui-light</option>
							<option value='mdui-dark' {{if eq .Theme "mdui-dark"}}selected{{else}}{{end}}>mdui-dark</option>
							<option value='bootstrap' {{if eq .Theme "bootstrap"}}selected{{else}}{{end}}>bootstrap</option>
							<option value='classic' {{if eq .Theme "classic"}}selected{{else}}{{end}}>classic</option>
							<option value='materialdesign' {{if eq .Theme "materialdesign"}}selected{{else}}{{end}}>materialdesign</option>
						</select>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">首页账号切换</label>
						<div class="mdui-row-md-3 mdui-row-sm-2" style="margin-left: 50px">
							<label class="mdui-radio mdui-col">
								<input type="radio" name="account_choose" {{if or (eq .AccountChoose "default") (eq .AccountChoose "") }}checked="checked"{{end}} value="default" />
								<i class="mdui-radio-icon"></i>
								默认账号
							</label>
							<label class="mdui-radio mdui-col">
								<input type="radio" name="account_choose" {{if eq .AccountChoose "display" }}checked="checked"{{end}} value="display" />
								<i class="mdui-radio-icon"></i>
								全部账号
							</label>
						</div>
					</div>

					<div class="mdui-textfield">
						<label class="mdui-textfield-label">后台登录密码</label>
						<input class="mdui-textfield-input" type="text" name="admin_password" value="{{.AdminPassword}}" placeholder="默认密码：PanIndex" required />
						<div class="mdui-textfield-helper mdui-text-color-purple">如果是第一次运行，请务必修改默认密码！</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">接口 token</label>
						<input class="mdui-textfield-input" type="text" name="api_token" value="{{.ApiToken}}" placeholder="用于接口调用" required />
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">密码文件（夹）</label>
						<input class="mdui-textfield-input" name="pwd_dir_id" placeholder="id1:pwd1,id2:pwd2" value="{{.PwdDirId}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">多个逗号分隔</div>
					</div><div class="mdui-textfield">
						<label class="mdui-textfield-label">隐藏文件ID（路径）</label>
						<input class="mdui-textfield-input" name="hide_file_id" placeholder="多个逗号分隔" value="{{.HideFileId}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">多个逗号分隔</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">防盗链</label>
						<input class="mdui-textfield-input" name="only_referrer" placeholder="允许的 Referrer，多个逗号分隔，例：baidu.com,google.com" value="{{.OnlyReferrer}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">多个逗号分隔</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">网站图标</label>
						<input class="mdui-textfield-input" type="text" name="favicon_url" placeholder="网站图标Url" value="{{.FaviconUrl}}" />
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">自定义底部信息</label>
						<input class="mdui-textfield-input" type="text" name="footer" placeholder="支持html代码" value="{{.Footer}}" />
					</div>
					<div class="mdui-row-xs-3">
						<div class="mdui-col">
							<button type="button" class="saveConfigBtn mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple" value="1">保存</button>
						</div>
						<div class="mdui-col">
							<a type="button" class="mdui-btn mdui-btn-block mdui-color-teal mdui-ripple" target="_blank" href="/api/admin/config?token={{.ApiToken}}">查看完整配置（JSON）</a>
						</div>
						<div class="mdui-col">
							<a type="button" class="mdui-btn mdui-btn-block mdui-color-red mdui-ripple" href="/?admin=&logout=true">退出登录</a>
						</div>
					</div>
				</form>
			</div>
			<div id="bind-account">
				<div class="mdui-container">
					<div class="mdui-row">
						<div class="mdui-col-sm-2 mdui-col-md-3">
							<ul class="mdui-list">
								{{range $i, $a := .Accounts}}
									<li class="mdui-list-item mdui-ripple acli" data-index="{{$i}}">
										<i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-{{if eq .Mode "cloud189"}}cyan{{else}}{{end}}{{if eq .Mode "teambition-us"}}blue{{else}}{{end}}{{if eq .Mode "onedrive"}}blue-200{{else}}{{end}}{{if eq .Mode "teambition"}}blue{{else}}{{end}}{{if eq .Mode "native"}}blue-grey{{else}}{{end}}{{if eq .Mode "aliyundrive"}}deep-purple-accent{{else}}{{end}}">face</i>
										<div class="mdui-list-item-content">{{.Name}}</div>
										<label class="mdui-switch">
											<input class="defaultAccount" data-id="{{.Id}}" type="checkbox" {{if eq .Default 1}}checked{{end}}  />
											<i class="mdui-switch-icon"></i>
										</label>
									</li>
								{{end}}
							</ul>
						</div>
						<div class="mdui-col-sm-10 mdui-col-md-9">
							<div id="recordDiv" class="mdui-panel mdui-panel-gapless" mdui-panel style="width:300px;margin-left: 56px">
								<div class="mdui-panel-item mdui-typo">
									<div class="mdui-panel-item-header mdui-text-color-indigo">缓存记录</div>
									<div class="mdui-panel-item-body">
										<div id="cacheRecord">
											<p>cookie： 未刷新</p>
											<p>状态： 未缓存</p>
											<p>最近一次缓存：-</p>
											<p>耗时：0s</p>
											<p>文件数：0</p>
										</div>
										<a href="javascript:updateCookie();">刷新cookie</a>
										<a href="javascript:updateCache();">刷新缓存</a>
									</div>
								</div>
							</div>
							<form id="accountForm">
								<div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">message</i>
									<label class="mdui-textfield-label">网盘名称</label>
									<input type="hidden" name="id" />
									<input class="mdui-textfield-input" type="text" name="name" value="" required>
									<div class="mdui-textfield-helper"><a href="https://libsgh.github.io/PanIndex/#/config?id=%e8%b4%a6%e5%8f%b7%e7%bb%91%e5%ae%9a" target="_blank">说明</a></div>
								</div>
								<div class="mdui-textfield">
									<i class="mdui-icon material-icons">more_horiz</i>
									<label class="mdui-textfield-label mdui-text-color-pink-300">网盘模式</label>
									<div class="mdui-row-md-3 mdui-row-sm-2" style="margin-left: 50px">
										<label class="mdui-radio mdui-col">
											<input type="radio" name="mode" checked="checked" value="native" />
											<i class="mdui-radio-icon"></i>
											Native
										</label>
										<label class="mdui-radio mdui-col">
											<input type="radio" name="mode" value="cloud189" />
											<i class="mdui-radio-icon"></i>
											Cloud189
										</label>
										<label class="mdui-radio mdui-col">
											<input type="radio" name="mode" value="aliyundrive" />
											<i class="mdui-radio-icon"></i>
											阿里云盘
										</label>
										<label class="mdui-radio mdui-col">
											<input type="radio" name="mode" value="teambition" />
											<i class="mdui-radio-icon"></i>
											Teambition
										</label>
										<label class="mdui-radio mdui-col">
											<input type="radio" name="mode" value="teambition-us" />
											<i class="mdui-radio-icon"></i>
											Teambition国际版
										</label>
										<label class="mdui-radio mdui-col">
											<input type="radio" name="mode" value="onedrive" />
											<i class="mdui-radio-icon"></i>
											OneDrive
										</label>
									</div>
								</div>
								<div id="UserDiv" class="mdui-textfield mdui-textfield-has-bottom">
									<i class="mdui-icon material-icons">account_circle</i>
									<label class="mdui-textfield-label" id="user_label">用户名</label>
									<input class="mdui-textfield-input" type="text" name="user" required>
								</div>
								<div id="PasswordDiv" class="mdui-textfield mdui-textfield-has-bottom">
									<i class="mdui-icon material-icons">lock</i>
									<label class="mdui-textfield-label" id="password_label">密码</label>
									<input class="mdui-textfield-input" type="text" name="password">
								</div>
								<div id="RefreshTokenDiv" class="mdui-textfield mdui-textfield-has-bottom">
									<i class="mdui-icon material-icons">refresh</i>
									<label class="mdui-textfield-label">刷新令牌（Refresh Token）</label>
									<input class="mdui-textfield-input" type="text" name="refresh_token">
								</div>
								<div id="RedirectUriDiv" class="mdui-textfield mdui-textfield-has-bottom">
									<i class="mdui-icon material-icons">insert_link</i>
									<label class="mdui-textfield-label">重定向地址</label>
									<input class="mdui-textfield-input" type="text" name="redirect_uri" placeholder="https://mgaa.noki.workers.dev">
								</div>
								<div class="mdui-textfield mdui-textfield-has-bottom mdui-textfield-floating-label">
									<i class="mdui-icon material-icons">folder_open</i>
									<label class="mdui-textfield-label">根目录ID(路径)</label>
									<input class="mdui-textfield-input" type="text" name="root_id" required>
									<div class="mdui-textfield-helper"><a href="https://libsgh.github.io/PanIndex/#/question?id=%e5%b8%b8%e8%a7%81%e9%97%ae%e9%a2%98" target="_blank">如何获取目录ID？</a></div>
								</div>
								<div class="sync-div mdui-textfield mdui-textfield-has-bottom">
									<i class="mdui-icon material-icons">folder_open</i>
									<label class="mdui-textfield-label">定时缓存目录</label>
									<input class="mdui-textfield-input" type="text" name="sync_dir" value="/" placeholder="/">
									<div class="mdui-textfield-helper">定时任务只更新某个目录的缓存， 默认缓存全部</div>
								</div>
								<div class="sync-div" style="margin-left: 50px;margin-top: 10px;margin-bottom: 10px">
									<label class="mdui-checkbox">
										<input type="checkbox" name="sync_child" value="0" checked/>
										<i class="mdui-checkbox-icon"></i>
										缓存是否包含子目录
									</label>
								</div>
							</form>
							<div class="mdui-row-xs-5">
								<div class="mdui-col">
									<button type="button" class="saveAccountBtn mdui-btn-block mdui-btn mdui-color-theme-accent mdui-ripple ld-ext-right" value="0">添加<div class="ld ld-ring ld-spin"></div></button>
								</div>
								{{if not .Accounts}}
								{{else}}
									<div class="mdui-col">
										<button type="button" class="saveAccountBtn mdui-btn-block mdui-btn mdui-color-teal mdui-ripple ld-ext-right" value="1">修改<div class="ld ld-ring ld-spin"></div></button>
									</div>
								{{end}}
								<div class="mdui-col">
									<button id="resetBtn" type="button" class="mdui-btn mdui-btn-block mdui-color-orange mdui-ripple">重置</button>
								</div>
								{{if not .Accounts}}
								{{else}}
									<div class="mdui-col">
										<button id="deleteBtn" type="button" class="mdui-btn mdui-btn-block mdui-color-red mdui-ripple">删除</button>
									</div>
								{{end}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="cron" class="mdui-p-a-2 mdui-typo">
				<div class="mdui-typo">
					<blockquote>
						<p><a href="https://cron.qqe2.com/" target="_blank">cron表达式在线生成</a>
						<p>留空将关闭相关定时任务</p>
					</blockquote>
				</div>
				<form id="cronForm">
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">定时任务-刷新登录cookie</label>
						<input class="mdui-textfield-input" type="text" name="refresh_cookie" placeholder="0 0 5 31 2 ?" value="{{.RefreshCookie}}" required />
						<div class="mdui-textfield-helper mdui-text-color-purple">重启生效，已改为主动检测刷新，即将弃用</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">定时任务-刷新目录缓存</label>
						<input class="mdui-textfield-input" type="text" name="update_folder_cache" placeholder="0 0 4 1/1 * ?" value="{{.UpdateFolderCache}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">定时任务-heroku防休眠（heroku可选）</label>
						<input class="mdui-textfield-input" type="text" name="heroku_keep_alive" placeholder="0 0/5 * * * ?" value="{{.HerokuKeepAlive}}" />
						<div class="mdui-textfield-helper mdui-text-color-purple">重启生效</div>
					</div>
					<div class="mdui-textfield">
						<label class="mdui-textfield-label">heroku防休眠地址（heroku可选）</label>
						<input class="mdui-textfield-input" type="text" name="heroku_app_url" placeholder="https://appname.herokuapp.com" value="{{.HerokuAppUrl}}" />
					</div>
					<div class="mdui-row-xs-12">
						<div class="mdui-col">
							<button type="button" class="saveCronBtn mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple">保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>
        <div id="upload" class="mdui-p-a-2 mdui-typo">
			<div class="mdui-row">
				<div class="mdui-col-sm-2 mdui-col-md-3">
					<ul class="mdui-list">
						<li class="mdui-list-item mdui-list-item-active mdui-ripple">
							<i class="mdui-list-item-icon mdui-icon material-icons">cloud_upload</i>
							<div class="mdui-list-item-content">手动上传</div>
						</li>
						{{/*<li class="mdui-list-item mdui-ripple">
							<i class="mdui-list-item-icon mdui-icon material-icons">sync</i>
							<div class="mdui-list-item-content">同步</div>
						</li>
						<li class="mdui-list-item mdui-ripple">
							<i class="mdui-list-item-icon mdui-icon material-icons">history</i>
							<div class="mdui-list-item-content">上传记录</div>
						</li>*/}}
					</ul>
				</div>
				<div class="mdui-col-sm-10 mdui-col-md-9">
					<form id="uploadForm">
						<label class="mdui-textfield-label">账户</label>
						<select id="uploadAccount" class="mdui-select" mdui-select>
							{{range $i, $a := .Accounts}}
								<option value="{{.Id}}">{{.Name}}</option>
							{{end}}
						</select>
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">选择文件</label>
							<input id="uploadFile" type="file" class="mdui-textfield-input"
								   placeholder="本地上传" multiple/>
						</div>
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">远程目录(PanIndex路径)</label>
							<input id="uploadPath" class="mdui-textfield-input" type="text" value="" placeholder="/upload" required="required"/>
						</div>
					</form>
					<div class="mdui-row-xs-3">
						<div class="mdui-col">
							<button type="button" class="uploadBtn mdui-btn-block mdui-btn mdui-color-theme mdui-ripple ld-ext-right" value="0">上传<div class="ld ld-ring ld-spin"></div></button>
						</div>
						<div class="mdui-col">
							<button type="button" class="uploadBtn mdui-btn-block mdui-btn mdui-color-theme mdui-ripple ld-ext-right" value="1">缓存刷新<div class="ld ld-ring ld-spin"></div></button>
						</div>
						<div class="mdui-col">
							<button type="button" class="uploadBtn mdui-btn-block mdui-btn mdui-color-theme mdui-ripple ld-ext-right" value="2">上传并刷新<div class="ld ld-ring ld-spin"></div></button>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</div>
	<div class="mdui-text-center mdui-typo">
		©2021 <a href="https://github.com/libsgh/PanIndex" target="_blank">PanIndex</a>. All rights reserved.
	</div>
</div>
<script>
var $ = mdui.$;
var bd = new mdui.Dialog("#account_dialog");
function addAccount() {
	bd.open();
}
$("#accountForm").find("input[name=mode]").on('change', function () {
	var mode = $(this).val();
	dynamicChgMode(mode);
});
$("#resetBtn").on('click', function () {
	$("#accountForm").find("input[name=name]").val("");
	$("#accountForm").find("input[name=user]").val("");
	$("#accountForm").find("input[name=password]").val("");
	$("#accountForm").find("input[name=refresh_token]").val("");
	$("#accountForm").find("input[name=redirect_uri]").val("");
	$("#accountForm").find("input[name=root_id]").val("");
	$("#accountForm").find("input[name=mode][value=native]").prop("checked", true);
	$("#accountForm").find("input[name=sync_dir]").val("/");
	$("#accountForm").find("input[name=sync_child]").prop("checked",true);
});
var accounts = [
	{{range .Accounts}}
		{"name":"{{.Name}}","id":"{{.Id}}","mode":"{{.Mode}}","user":"{{.User}}","password":"{{.Password}}",
			"refresh_token":"{{.RefreshToken}}","redirect_uri":"{{.RedirectUri}}","root_id":"{{.RootId}}",
			"cookie_status":"{{.CookieStatus}}","status":"{{.Status}}","files_count":"{{.FilesCount}}","time_span":"{{.TimeSpan}}",
			"last_op_time":"{{.LastOpTime}}", "sync_dir":"{{.SyncDir}}", "sync_child": "{{.SyncChild}}"
		},
	{{end}}
	];
fillAccount(0);
function fillAccount(index) {
	if(accounts.length == 0){
		mdui.snackbar({
			message: '您还没有绑定网盘账号！'
		});
		dynamicChgMode("native");
		var inst = new mdui.Tab('.mdui-tab');
		inst.next();
		return;
	}
	$("ul").find("li").removeClass("mdui-list-item-active");
	$("ul").find("li").eq(index).addClass("mdui-list-item-active");
	var account = accounts[index];
	$("#accountForm").find("input[name=id]").val(account.id);
	$("#accountForm").find("input[name=name]").val(account.name);
	$("#accountForm").find("input[name=password]").val(account.password);
	$("#accountForm").find("input[name=mode][value="+account.mode+"]").prop("checked", true);
	$("#accountForm").find("input[name=user]").val(account.user);
	$("#accountForm").find("input[name=refresh_token]").val(account.refresh_token);
	$("#accountForm").find("input[name=redirect_uri]").val(account.redirect_uri);
	$("#accountForm").find("input[name=root_id]").val(account.root_id);
	if(account.sync_dir == ""){
		$("#accountForm").find("input[name=sync_dir]").val("/");
	}else{
		$("#accountForm").find("input[name=sync_dir]").val(account.sync_dir);
	}
	if(account.sync_child == "0"){
		$("#accountForm").find("input[name=sync_child]").prop("checked",true);
	}else{
		$("#accountForm").find("input[name=sync_child]").prop("checked",false);
	}
	fillCacheRecord(account)
	dynamicChgMode(account.mode);
}
function dynamicChgMode(mode){
	if(mode == "native"){
		$("#RedirectUriDiv").hide();
		$("#RefreshTokenDiv").hide();
		$("#UserDiv").hide();
		$("#PasswordDiv").hide();
		$("#recordDiv").hide();
		$(".sync-div").hide();
	}else if (mode == "cloud189"){
		$("#RedirectUriDiv").hide();
		$("#RefreshTokenDiv").hide();
		$("#UserDiv").show();
		$("#PasswordDiv").show();
		$("#recordDiv").show();
		$(".sync-div").show();
		$("#user_label").text("用户名");
		$("#password_label").text("密码");
	}else if (mode == "teambition"){
		$("#RedirectUriDiv").hide();
		$("#RefreshTokenDiv").hide();
		$("#UserDiv").show();
		$("#PasswordDiv").show();
		$("#recordDiv").show();
		$(".sync-div").show();
		$("#user_label").text("用户名");
		$("#password_label").text("密码");
	}else if (mode == "teambition-us"){
		$("#RedirectUriDiv").hide();
		$("#RefreshTokenDiv").hide();
		$("#UserDiv").show();
		$("#PasswordDiv").show();
		$("#recordDiv").show();
		$(".sync-div").show();
		$("#user_label").text("用户名");
		$("#password_label").text("密码");
	}else if (mode == "aliyundrive"){
		$("#RedirectUriDiv").hide();
		$("#RefreshTokenDiv").show();
		$("#UserDiv").hide();
		$("#PasswordDiv").hide();
		$(".sync-div").show();
		$("#recordDiv").show();
	}else if (mode == "onedrive"){
		$("#RedirectUriDiv").show();
		$("#RefreshTokenDiv").show();
		$("#UserDiv").show();
		$("#PasswordDiv").show();
		$("#recordDiv").show();
		$(".sync-div").show();
		$("#user_label").text("客户端ID（Client ID）");
		$("#password_label").text("客户端密码（Client Secret）");
	}
}
var accountStatus = 0;
$(".saveAccountBtn").on("click", function () {
	var account = $("#accountForm").serializeObject();
	var type = $(this).val();
	if(type == 0){
		account.id = "";
	}
	if(!account.root_id){
		mdui.snackbar({
			message: "请输入根目录ID",
			timeout: 2000
		});
		return false;
	}
	if(accountStatus == 1){
		return false;
	}
	accountStatus = 1;
	var btn = $(this);
	btn.toggleClass("running");
	var syncChild = $("#accountForm").find("input[name=sync_child]").prop("checked");
	var syncDir = $("#accountForm").find("input[name=sync_dir]").val();
	if(syncChild){
		account.sync_child = 0;
	}else{
		account.sync_child = 1;
	}
	var config = {accounts:[account]};
	$.ajax({
		method: 'POST',
		url: '/api/admin/save?token={{.ApiToken}}',
		data: JSON.stringify(config),
		contentType: 'application/json',
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: "账号保存成功，正在进行目录缓存，请稍后刷新页面查看缓存结果...在此期间请勿重启，以免造成数据重叠！",
				timeout: 2000,
				onClose: function(){
					accountStatus = 0;
					location.reload();
				}
			});
		}
	});
});
$("#deleteBtn").on("click", function (){
	var id = $("#accountForm").find("input[name=id]").val();
	if(id != ""){
		$.ajax({
			method: 'POST',
			url: '/api/admin/deleteAccount?token={{.ApiToken}}&id='+id,
			success: function (data) {
				var d = JSON.parse(data);
				mdui.snackbar({
					message: d.msg,
					timeout: 2000,
					onClose: function(){
						location.reload();
					}
				});
			}
		});
	}
});
$(".saveConfigBtn").on("click", function () {
	var config = $("#configForm").serializeObject();
	if(!config.host || !config.port || !config.admin_password){
		mdui.snackbar({
			message: "必填项不能为空",
			timeout: 2000
		});
		return false;
	}
	config.port = Number(config.port);
	$.ajax({
		method: 'POST',
		url: '/api/admin/save?token={{.ApiToken}}',
		data: JSON.stringify(config),
		contentType: 'application/json',
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: d.msg,
				timeout: 2000
			});
		}
	});
});
$(".saveCronBtn").on("click", function () {
	var config = $("#cronForm").serializeObject();
	if(!config.refresh_cookie){
		mdui.snackbar({
			message: "必填项不能为空",
			timeout: 2000
		});
		return false;
	}
	$.ajax({
		method: 'POST',
		url: '/api/admin/save?token={{.ApiToken}}',
		data: JSON.stringify(config),
		contentType: 'application/json',
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: d.msg,
				timeout: 2000
			});
		}
	});
});
$(".defaultAccount").on('click', function (ev){
	$(".defaultAccount").prop("checked", false);
	$(this).prop("checked", true);
	var id = $(this).attr("data-id");
	$.ajax({
		method: 'POST',
		url: '/api/admin/setDefaultAccount?token={{.ApiToken}}&id='+id,
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: d.msg,
				timeout: 2000
			});
		}
	});
});
function fillCacheRecord(account){
	var text = "";
	if(account.cookie_status == 1){
		text += "<p>cookie： 未刷新</p>";
	}else if (account.cookie_status == 2){
		text += "<p>cookie： 正常</p>";
	}else if (account.cookie_status == 3){
		text += "<p>cookie： 失效</p>";
	}else if (account.cookie_status == 4){
		text += "<p>cookie： 登录失败</p>";
	}else if (account.cookie_status == -1){
		text += "<p>cookie： 刷新中</p>";
	}
	if(account.status == 1){
		text += "<p>状态： 未缓存</p>";
	}else if (account.status == 2){
		text += "<p>状态： 缓存成功</p>";
	}else if (account.status == 3){
		text += "<p>状态： 缓存失败</p>";
	}else if (account.status == -1){
		text += "<p>状态： 缓存中</p>";
	}
	if(account.files_count > 0){
		text += "<p>文件数：" + account.files_count + "</p>";
	}else{
		text += "<p>文件数：-</p>";
	}
	if(account.time_span){
		text += "<p>耗时：" + account.time_span + "</p>";
	}else{
		text += "<p>耗时：-</p>";
	}
	if(account.last_op_time){
		text += "<p>最近一次缓存：" + account.last_op_time + "</p>";
	}else{
		text += "<p>最近一次缓存：-</p>";
	}
	$("#cacheRecord").html(text);
}
function updateCache(){
	var id = $("#accountForm").find("input[name=id]").val();
	$.ajax({
		method: 'POST',
		url: '/api/admin/updateCache?token={{.ApiToken}}&id='+id,
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: d.msg,
				timeout: 3000
			});
		}
	});
}
function updateCookie(){
	var id = $("#accountForm").find("input[name=id]").val();
	$.ajax({
		method: 'POST',
		url: '/api/admin/updateCookie?token={{.ApiToken}}&id='+id,
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: d.msg,
				timeout: 3000
			});
		}
	});
}
$(".acli").on('click', function(e){
	if(e.target.tagName == 'INPUT')return;
	fillAccount($(this).attr('data-index'));
});
var status = 0;
$('.uploadBtn').on('click', function () {
	var type = $(this).val();
	var fileObjs = document.getElementById('uploadFile').files;
	var formData = new FormData();
	formData.append("uploadAccount", $('#uploadAccount').val());
	formData.append("uploadPath", $('#uploadPath').val());
	formData.append("type", type);
	$.each(fileObjs, function (i, f) {
		formData.append("uploadFile", f);
	});
	if(status == 1){
		return;
	}
	status = 1;
	if(type == 0 || type == 2){
		mdui.snackbar({
			message: "开始上传，请耐心等待",
			timeout: 1000
		});
	}else{
		mdui.snackbar({
			message: "开始刷新，请耐心等待",
			timeout: 1000
		});
	}
	var btn = $(this);
	btn.toggleClass("running");
	$.ajax({
		method: 'POST',
		url: "/api/admin/upload?token={{.ApiToken}}", //上传文件的请求路径必须是绝对路劲
		data: formData,
		cache: false,
		contentType: false,
		processData: false,
		success: function (data) {
			var d = JSON.parse(data);
			mdui.snackbar({
				message: d.msg,
				timeout: 3000
			});
			btn.toggleClass("running");
			status = 0
		}
	});
});
$.fn.serializeObject = function()
{
	var o = {};
	var a = this.serializeArray();
	$.each(a, function() {
		if (o[this.name]) {
			if (!o[this.name].push) {
				o[this.name] = [o[this.name]];
			}
			o[this.name].push(this.value || '');
		} else {
			o[this.name] = this.value || '';
		}
	});
	return o;
};
</script>
</body>
</html>