{{define "templates/pan/admin/login.html"}}
    {{template "templates/pan/admin/base.html" .}}
{{end}}
{{define "admin-login"}}
<div class="mdui-m-t-5 mdui-valign">
    <div class="mdui-card mdui-center" style="width: 500px;height: 341px;box-shadow: none">
        <form action="{{$.config.PathPrefix}}{{$.config.AdminPath}}/login" method="post">
            <h4 class="mdui-typo-display-1-opacity mdui-text-center">登录</h4>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <i class="mdui-icon material-icons">account_circle</i>
                <label class="mdui-textfield-label">账号</label>
                <input name="user" class="mdui-textfield-input" type="text" required="required" />
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <i class="mdui-icon material-icons">https</i>
                <label class="mdui-textfield-label">密码</label>
                <input name="password" class="mdui-textfield-input" type="password" required="required" />
            </div>
            <br>
            <button type="submit" class="mdui-p-b-2 mdui-center mdui-btn mdui-btn-raised mdui-ripple mdui-color-indigo mdui-btn-block">
                <i class="mdui-icon material-icons">fingerprint</i>
                登录
            </button>
        </form>
    </div>
</div>
<script>
    {{- if $.error}}
    mdui.snackbar({
        message: '{{$.msg}}'
    });
    {{- end}}
</script>
{{end}}