{{define "pan/admin/pwd.html"}}
    {{template "pan/admin/base.html" .}}
{{end}}
{{define "admin-pwd"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 密码文件（夹） <small>文件夹设置密码访问，设置后的文件将无法被搜索到</small></h3>
    </div>
    <div class="mdui-table-fluid">
        <div class="mdui-toolbar mdui-float-right">
            <a id="addPwdDirBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '添加'}">
                <i class="mdui-icon material-icons">add_circle</i>
            </a>
            <a id="updatePwdDirBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '修改'}">
                <i class="mdui-icon material-icons">update</i>
            </a>
            <a id="delPwdDirBtn" href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '删除'}">
                <i class="mdui-icon material-icons">remove_circle</i>
            </a>
        </div>
        <table class="mdui-table mdui-table-hoverable mdui-table-selectable ">
            <thead>
            <tr>
                <th>文件（夹）ID</th>
                <th>访问密码</th>
            </tr>
            </thead>
            <tbody>
            {{- if gt (len .PwdDirs) 0 }}
            {{- range .PwdDirs}}
            <tr>
                <td>{{.FileId}}</td>
                <td>{{.Password}}</td>
            </tr>
            {{- end}}
            {{- end}}
            </tbody>
        </table>
    </div>
</div>
<div id="pwd_dialog" class="mdui-dialog">
    <form id="configForm" onsubmit="return savePwddir()">
        <div class="mdui-dialog-content">
            <div id="title" class="mdui-dialog-title">添加</div>
                <input type="hidden" name="pwd_dir_id" value="{{.Config.PwdDirId}}" />
                <div class="mdui-textfield">
                    <i class="mdui-icon material-icons">folder_open</i>
                    <label class="mdui-textfield-label">文件（夹）ID</label>
                    <input class="mdui-textfield-input" type="text" id="file_id" required>
                    <div class="mdui-textfield-helper mdui-typo">网盘中的原始文件ID，不同的网盘类型格式可能不同，<a href="https://libsgh.github.io/PanIndex/#/question?id=%e5%a6%82%e4%bd%95%e8%8e%b7%e5%8f%96%e7%9b%ae%e5%bd%95id%ef%bc%9f" target="_blank">获取方式</a></div>
                </div>
                <div class="mdui-textfield">
                    <i class="mdui-icon material-icons">lock_outline</i>
                    <label class="mdui-textfield-label">访问密码</label>
                    <input class="mdui-textfield-input" type="text" id="pwd" required>
                </div>

        </div>
        <div class="mdui-dialog-actions">
            <button type="submit" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-brown"><i class="mdui-icon material-icons">save</i> 保存</button>
        </div>
    </form>
</div>
{{end}}