{{define "pan/admin/scheduled.html"}}
    {{template "pan/admin/base.html" .}}
{{end}}
{{define "admin-scheduled"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 定时任务 </h3>
    </div>
    <form id="cronForm">
        <div class="mdui-typo">
            <blockquote>
                <p><a href="https://cron.qqe2.com/" target="_blank">cron表达式在线生成</a>
                <p>留空将关闭定时任务</p>
            </blockquote>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">定时任务-刷新目录缓存</label>
            <input class="mdui-textfield-input" type="text" name="update_folder_cache" placeholder="0 0 4 1/1 * ?" value="{{.UpdateFolderCache}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">定时同步目录缓存，目录可在网盘挂载配置指定，该配置重启生效</div>
        </div>
        <div class="mdui-row-xs-1">
            <div class="mdui-col">
                <button type="button" class="saveConfigBtn mdui-btn mdui-color-brown mdui-ripple" value="1">
                    <i class="mdui-icon material-icons">save</i> 保存
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}