{{define "pan/admin/security.html"}}
{{template "pan/admin/base.html" .}}
{{end}}
{{define "admin-security"}}
<div class="mdui-p-a-2 mdui-typo">
    <form id="configForm">
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">密码文件（夹）</label>
            <input class="mdui-textfield-input" name="pwd_dir_id" placeholder="id1:pwd1,id2:pwd2" value="{{.Config.PwdDirId}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">多个逗号分隔</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">隐藏文件ID（路径）</label>
            <input class="mdui-textfield-input" name="hide_file_id" placeholder="多个逗号分隔" value="{{.Config.HideFileId}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">多个逗号分隔</div>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">防盗链</label>
            <input class="mdui-textfield-input" name="only_referrer" placeholder="允许的 Referrer，多个逗号分隔，例：baidu.com,google.com" value="{{.Config.OnlyReferrer}}" />
            <div class="mdui-textfield-helper mdui-text-color-purple">多个逗号分隔</div>
        </div>
        <div class="mdui-row-xs-1">
            <div class="mdui-col">
                <button type="button" class="saveConfigBtn mdui-btn mdui-color-brown mdui-ripple" value="1">
                    <i class="mdui-icon material-icons">save</i> 保存
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}