{{define "pan/admin/view.html"}}
    {{template "pan/admin/base.html" .}}
{{end}}
{{define "admin-view"}}
<div class="mdui-m-t-2">
    <div class="mdui-typo mdui-p-b-2">
        <h3> 文件预览 <small>多个后缀名，半角英文逗号分隔</small></h3>
    </div>
    <form id="configForm">
        <div>
            <label class="mdui-textfield-label">是否开启预览</label>
            <label class="mdui-switch">
                <input type="checkbox" name="enable_preview" {{if eq .Config.EnablePreview "1"}}checked{{else}}{{end}}/>
                <i class="mdui-switch-icon"></i>
            </label>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">图片(image)</label>
            <input class="mdui-textfield-input" type="text" name="image" value="{{.Config.Image}}" />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">视频(video)</label>
            <input class="mdui-textfield-input" type="text" name="video" value="{{.Config.Video}}" />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">音频(audio)</label>
            <input class="mdui-textfield-input" type="text" name="audio" value="{{.Config.Audio}}" />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">代码(code)</label>
            <input class="mdui-textfield-input" type="text" name="code" value="{{.Config.Code}}" />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">文档(doc)</label>
            <input class="mdui-textfield-input" type="text" name="doc" value="{{.Config.Doc}}" />
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">其他（other）</label>
            <input class="mdui-textfield-input" type="text" name="other" value="{{.Config.Other}}" />
            <div class="mdui-textfield-helper mdui-typo">这部分文件不支持预览， 但是也可以跳转到预览页</div>
        </div>
        <div class="mdui-row-xs-1">
            <div class="mdui-col">
                <button type="button" class="saveConfigBtn mdui-btn mdui-color-brown mdui-ripple" value="1">
                    <i class="mdui-icon material-icons">save</i> 保存
                </button>
                <button id="resetViewConfig" type="button" class="mdui-btn mdui-float-right mdui-color-teal mdui-ripple" value="0">
                    <i class="mdui-icon material-icons">repeat</i> 恢复默认
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}