{{define "pan/mdui/view-video.html"}}
{{template "pan/mdui/view-base.html" .}}
{{end}}
{{define "content-video"}}
{{- if eq .Mode "aliyundrive"}}
<label class="mdui-switch" mdui-tooltip="{content: '转码', position: 'right'}" style="margin-left:18px;margin-bottom:10px">
    <input id="transcodeBtn" type="checkbox" />
    <i class="mdui-switch-icon"></i>
</label>
{{- end}}
<div id="view_dplayer" style="width: auto;height: auto"></div>
<script src="https://cdn.jsdelivr.net/npm/hls.js@1.0.7/dist/hls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flv.js@1.6.2/dist/flv.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dplayer@1.26.0/dist/DPlayer.min.js"></script>
<script>
    var qa_info = {"FHD":"全高清","LD":"流畅","SD":"标清","HD":"高清"};
    var qa_sort = {"全高清": 1080,"流畅":360,"标清":540,"高清":720};
    var path = $("#file_link").attr("data-path");
    var mode = $("#file_link").attr("data-mode");
    var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + path);
    var url = "{{.DownloadUrl}}";
    if(mode == "native" || mode == "ftp" || mode == "webdav"){
        url = fullUrl;
    }
    var qas = [];
    {{- if eq .Mode "aliyundrive"}}
    if($.cookie("Transcode") == "true" || $.cookie("Transcode") == true){
        qas = getTranscodeInfo();
        $("#transcodeBtn").prop("checked", true);
    }else{
        qas = getOriginal();
        $("#transcodeBtn").prop("checked", false);
    }
    function getTranscodeInfo(){
        var qas = [];
        $.ajax({
            method: 'POST',
            async: false,
            url: '/api/public/transcode?accountId={{.AccountId}}&fileId={{ (index .List 0).FileId }}',
            success: function (data) {
                var d = JSON.parse(data);
                if(d.video_preview_play_info){
                    $.each(d.video_preview_play_info.live_transcoding_task_list, function(i, item){
                        if(item.status == "finished"){
                            var qa = {};
                            qa["url"] = item.url;
                            qa["name"] = qa_info[item.template_id];
                            qa["type"] = "hls";
                            qas.push(qa);
                        }
                    });
                    qas = qas.sort(function(s, t){
                        var a = qa_sort[s["name"]];
                        var b = qa_sort[t["name"]];
                        if (a < b) return -1;
                        if (a > b) return 1;
                        return 0;
                    });
                }
            }
        });
        return qas;
    }
    $("#transcodeBtn").on('change', function () {
        var transcode = $(this).prop("checked");
        $.cookie("Transcode", transcode, {expires : 3650, path:"/"});
        if(transcode){
            qas = getTranscodeInfo();
        }else{
            qas = getOriginal();
        }
        playVideo(qas)
    });
    {{- else}}
    qas = getOriginal();
    {{- end}}
    playVideo(qas);
    var dp;
    function playVideo(qas){
        if(qas.length > 0){
            var video = {
                quality: qas,
                defaultQuality: qas.length - 1
            }
            var n = '{{ (index .List 0).FileName }}';
            var vname = n.split(".")[0]
            dp = new DPlayer({
                container: document.getElementById('view_dplayer'),
                video: video ,
                subtitle: {
                    url: vname + '.vtt',
                    fontSize: '24px'
                },
                autoplay: true,
                lang: 'zh-cn'
            });
        }
    }
    function getOriginal(){
        var qas = [];
        var ft = '{{ (index .List 0).FileType  }}';
        var qa = {};
        qa["url"] = url;
        qa["name"] = "原画";
        if(ft == "m3u8" || ft == "ts"){
            qa["type"] = "hls";
        }else if (ft == "flv"){
            qa["type"] = "flv";
        }else{
            qa["type"] = "auto";
        }
        qas.push(qa);
        return qas;
    }
</script>
{{end}}