<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
	<meta name="renderer" content="webkit"/>
{{- if eq .Mode "aliyundrive"}}
	<meta name="referrer" content="no-referrer">
{{- end}}
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
{{- if ne .FaviconUrl ""}}
	<link rel="icon" href="{{.FaviconUrl}}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{.FaviconUrl}}" type="image/x-icon" />
{{- else}}
	<link rel="icon" href="/static/img/favicon-{{.Mode}}.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/static/img/favicon-{{.Mode}}.ico" type="image/x-icon" />
{{- end}}
	<!-- MDUI CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"/>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/viewerjs@1.10.1/dist/viewer.min.css">
	<!-- MDUI JavaScript -->
	<script src="//cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<link rel="stylesheet" href="/static/css/index.css">
{{- if ne .Config.Css ""}}
	{{.Config.Css | unescaped}}
{{- end}}
	<title>{{- if eq $.Config.SiteName ""}}
			{{.Title}}
		{{- else}}
			{{$.Config.SiteName}}
		{{- end}} {{ .Path }}
	</title>
	{{ $SurportFolderDown := .SurportFolderDown }}
</head>
<body class="mdui-theme-layout-{{- if eq .Theme "mdui"}}auto{{end}}{{- if eq .Theme "mdui-dark"}}dark{{- end}}{{- if eq .Theme "mdui-light"}}light{{- end}}">
<div class="mdui-container">
	<div class="mdui-card" style="min-height: 600px">
		<div class="mdui-card-content">
			<div style="padding: 0px 5px 12px;">
				<div class="mdui-chip">
					<span class="mdui-chip-icon mdui-color-indigo" {{- if gt (len .Accounts) 1 }}mdui-tooltip="{content: '用户切换', position: 'top'}" mdui-menu="{target: '#example-1'}"{{- end}}><i class="mdui-icon material-icons">home</i></span>
					{{- if gt (len .Accounts) 1 }}
						<ul class="mdui-menu" id="example-1" style="max-height: 500px">
							{{range $i, $a := .Accounts}}
								<li class="mdui-menu-item">
									<a href="/d_{{$i}}" class="mdui-ripple"><i class="mdui-menu-item-icon mdui-icon material-icons mdui-text-color-{{if eq .Mode "cloud189"}}cyan{{else}}{{end}}{{if eq .Mode "onedrive"}}blue-200{{else}}{{end}}{{if eq .Mode "teambition"}}blue{{else}}{{end}}{{if eq .Mode "teambition-us"}}blue{{else}}{{end}}{{if eq .Mode "native"}}blue-grey{{else}}{{end}}{{if eq .Mode "aliyundrive"}}deep-purple-accent{{else}}{{end}}">face</i>{{.Name}}</a>
								</li>
							{{- end}}
						</ul>
					{{- end}}
					<span class="mdui-chip-title" onclick="window.open('{{if eq $.Config.AccountChoose "default"}}{{$.DIndex}}{{end}}/','_self')">
						{{- if eq $.Config.SiteName ""}}
							{{.Title}}
						{{- else}}
							{{$.Config.SiteName}}
						{{- end}}
					</span>
				</div>
				{{- if and (eq $.Config.AccountChoose "display") (or (ne $.Path "/") (ne $.DIndex ""))}}
					<i class="mdui-icon material-icons mdui-icon-dark">chevron_right</i>
					<div class="mdui-chip" onclick="window.open('{{$.DIndex}}/','_self')">
						<span class="mdui-chip-title">{{.Title}}</span>
					</div>
				{{- end}}
				{{- range .PrePaths}}
					<i class="mdui-icon material-icons mdui-icon-dark">chevron_right</i>
					<div class="mdui-chip" onclick="window.open('{{$.DIndex}}{{.PathUrl}}','_self')">
						<span class="mdui-chip-title">{{.PathName}}</span>
					</div>
				{{- end}}
			</div>
			{{- if and (.HasHead) (not .HasPwd)}}
			<div id="headContent" class="mdui-typo mdui-shadow-2" style="padding: 15px;margin: 10px;">
				<div class="mdui-chip head" style="display: none">
					<span class="mdui-chip-icon">M</span>
					<i class="mdui-icon material-icons">notifications_active</i>
					<span class="mdui-chip-title">HEAD.md</span>
				</div>
				<hr class="head" style="display: none" />
				<input id="head" type="hidden" value="{{.HeadContent}}" />
				<script>
					var c = $("#head").val();
					if(c != ""){
						$("#headContent").append(marked(c));
						$("#headContent").toggle();
					}else{
						var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + "/api/public/raw/HEAD.md");
						$.ajax({
							method: 'GET',
							url: fullUrl,
							success: function (data) {
								if(data != ""){
									$("#headContent").append(marked(data));
									$("table").addClass("mdui-table");
									$("#headContent").toggle();
								}
							}
						});
					}
				</script>
			</div>
			{{- end}}
			<ul class="mdui-list">
				<li class="mdui-list-item">
					<div class="mdui-list-item-content">
						<div class="mdui-list-item-title">
							<div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
								<button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></button>
								<input type="text" placeholder="搜索文件（夹）" class="search 	mdui-textfield-input search-input" data-index="{{$.DIndex}}/" value="{{$.SearchKey}}">
								<button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i></button>
							</div>
							<div>
								{{- if and (eq $.Config.AccountChoose "display") (and (eq $.Path "/") (ne $.DIndex ""))}}
									<button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '返回上级目录'}" onclick="window.open('/','_self')"><i class="mdui-icon material-icons">arrow_back</i></button>
								{{- end}}
								{{- if .HasParent}}
									<button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '返回上级目录'}" onclick="window.open('{{$.DIndex}}{{.ParentPath}}','_self')"><i class="mdui-icon material-icons">arrow_back</i></button>
								{{- end}}
								<ul class="mdui-menu mdui-menu-cascade" id="sort-menu" style="max-width: 220px;max-height: 500px;">
									<li class="mdui-menu-item">
										<a href="javascript:void(0);" class="mdui-ripple column" data-column="file_name">
											文件名
											<span class="mdui-menu-item-more"></span>
										</a>
										<ul class="mdui-menu mdui-menu-cascade" style="max-width: 140px">
											<li class="mdui-menu-item" style="min-width: 60px">
												<a href="javascript:;" class="mdui-ripple sort-order-check" data-column="file_name" data-order="asc">
													升序
												</a>
												<a href="javascript:;" class="mdui-ripple sort-order-check" data-column="file_name" data-order="desc">
													降序
												</a>
											</li>
										</ul>
									</li>
									<li class="mdui-menu-item">
										<a href="javascript:void(0);" class="mdui-ripple column" data-column="file_size">
											大小
											<span class="mdui-menu-item-more"></span>
										</a>
										<ul class="mdui-menu mdui-menu-cascade" style="max-width: 140px">
											<li class="mdui-menu-item" style="min-width: 60px">
												<a href="javascript:;" class="mdui-ripple sort-order-check" data-column="file_size" data-order="asc">
													升序
												</a>
												<a href="javascript:;" class="mdui-ripple sort-order-check" data-column="file_size" data-order="desc">
													降序
												</a>
											</li>
										</ul>
									</li>
									<li class="mdui-menu-item">
										<a href="javascript:void(0);" class="mdui-ripple column" data-column="last_op_time">
											时间
											<span class="mdui-menu-item-more"></span>
										</a>
										<ul class="mdui-menu mdui-menu-cascade" style="max-width: 140px">
											<li class="mdui-menu-item" style="min-width: 60px">
												<a href="javascript:;" class="mdui-ripple sort-order-check" data-column="last_op_time" data-order="asc">
													升序
												</a>
												<a href="javascript:;" class="mdui-ripple sort-order-check" data-column="last_op_time" data-order="desc">
													降序
												</a>
											</li>
										</ul>
									</li>
									<li class="mdui-divider"></li>
									<li class="mdui-menu-item" data-column="default">
										<a href="javascript:void(0);" class="mdui-ripple default-check">默认</a>
									</li>
								</ul>
								<button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '排序'}" mdui-menu="{target: '#sort-menu',position:'bottom'}"><i class="mdui-icon material-icons">sort</i></button>
								<button id="previewImages" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '预览本页所有图片'}"><i class="mdui-icon material-icons">panorama_wide_angle</i></button>
								{{- if .HasParent}}
								<a id="share" href="javascript:void(0)" mdui-menu="{target: '#share-menu',covered: false}" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '分享'}"><i class="mdui-icon material-icons">share</i></a>
								<ul id="share-menu" class="mdui-menu" data-fp="{{ .Path }}" data-aid="{{ .AccountId }}">
									<li class="mdui-divider"></li>
									<li class="mdui-menu-item">
										<img id="qrcode" src="" width="100%" />
									</li>
									<li class="mdui-divider"></li>
									<li class="mdui-menu-item mdui-text-center">
										<button id="copyShortUrl" class="mdui-btn mdui-btn-raised mdui-ripple mdui-btn-dense mdui-color-indigo">复制短链接</button>
									</li>
								</ul>
								{{- end}}
								<button id="copyAllLinks" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '复制全部下载链接'}"><i class="mdui-icon material-icons">content_copy</i></button>
								<button class="mdui-btn mdui-btn-icon" id="theme-toggle" mdui-tooltip="{content: '明暗主题切换'}"><i class="mdui-icon material-icons">brightness_{{if eq .Theme "mdui"}}4{{end}}{{if eq .Theme "mdui-dark"}}5{{end}}{{if eq .Theme "mdui-light"}}4{{end}}</i></button>
							</div>
						</div>
					</div>
				</li>
				{{- if .HasPwd}}
					<div class="mdui-card-media mdui-center" style="margin-top:150px; width: 350px; max-width: 100%;">
						<div class="mdui-textfield mdui-textfield-floating-label{{if .PwdErrorMsg}} mdui-textfield-invalid{{- end}}">
							<i id="inpsw-icon-lock" class="mdui-icon material-icons">lock</i>
							<label class="mdui-textfield-label">请输入密码</label>
							<input id="input-password" type="password" data-path="{{$.DIndex}}{{.Path}}" class="mdui-textfield-input" required style="border-bottom: 1px solid rgba(0, 0, 0, 0.42); width: calc(100% - 95px);">
							<a class="mdui-btn mdui-btn-icon mdui-icon" style="right: 0px;" href="javascript:promptPwd('{{$.DIndex}}{{.Path}}');">
								<i class="mdui-icon material-icons" style="padding: 0px;">fingerprint</i>
							</a>
							{{- if .PwdErrorMsg}}
								<div class="mdui-textfield-error">{{.PwdErrorMsg}}</div>
								<script>
									removePwd('{{$.DIndex}}{{.Path}}');
									function removePwd(path) {
										var dp = $.cookie("dir_pwd");
										var dpArr = dp.split(",");
										var newArr = [];
										var c = "";
										if(path == "/"){
											path = "/d_0";
										}else{
											if(endWith(path, "/")){
												path = path.substring(0, path.Length-1);
											}
										}
										if(dp != ""){
											$.each(dpArr, function (i, item) {
												if(item.split(":")[0] != path){
													newArr.push(item);
												}
											});
										}
										if(newArr.length > 1){
											c = newArr.join(",");
										}else if(newArr.length == 1){
											c = newArr[0];
										}else{
											c = null;
										}
										$.cookie("dir_pwd", c, {expires : 3650, path:"/"});
									}
									function endWith (path, param) {
										if (param == null || param == "" || path.length == 0 || param.length > path.length) {
											return false;
										}
										if (path.substring(path.length - param.length) == param) {
											return true;
										} else {
											return false;
										}
									}
								</script>
							{{- end}}
						</div>
					</div>
				{{- else}}
					{{- if not .List}}
						<div class="mdui-valign ">
							<div class="mdui-center">
								<img class="mdui-center" src="/static/img/empty-folder.png" style="width: 53px;height: 56px">
								<p class="mdui-center">网盘空空如也</p>
							</div>
						</div>
					{{- end}}
					{{- range .List}}
					<li class="mdui-list-item mdui-ripple">
						<div class="mdui-list-item-content icon-file-mdui" data-folder="{{.IsFolder}}" data-file-id="{{.FileId}}" data-file-type="{{.FileType}}" data-media-type="{{.MediaType}}" data-title="{{.FileName}}" data-url="{{if $.SearchKey}}{{index $.AcountIndex .AccountId }}{{else}}{{$.DIndex}}{{end}}{{.Path}}">
							<div class="mdui-list-item-title wordWrap">
								{{- if .IsFolder}}
									<i class="mdui-icon material-icons" style="margin: -3px 5px 0px 0px;">folder_open</i> {{.FileName}}
									{{- if and (ne .FileId "0") (ne .FileId "-12") (ne .FileId "-14") (ne .FileId "-13") (ne .FileId "-15") (ne .FileId "-11") (ne .FileId "-16") ($SurportFolderDown)}}
										<a class="folderDown mdui-float-right mdui-icon material-icons mdui-text-color-theme-icon" data-account="{{if $.SearchKey}}{{.AccountId}}{{else}}{{$.AccountId}}{{end}}" data-file-id="{{.FileId}}" href="javascript:void(0);">file_download</a>
									{{- else}}
									{{- end}}
								{{- else}}
									<i class="mdui-icon material-icons" style="margin: -3px 5px 0px 0px;">
										{{- if eq .MediaType 1}}
											image
										{{- else if eq .MediaType 2}}
											audiotrack
										{{- else if eq .MediaType 3}}
											ondemand_video
										{{- else if eq .MediaType 4}}
											{{- if or (eq .FileType "sh") (eq .FileType "go") (eq .FileType "java") (eq .FileType "py")}}
												code
											{{- else}}
												description
											{{- end}}
										{{- else}}
											{{- if eq .FileType "apk"}}
												android
											{{- else if eq .FileType "exe"}}
												apps
											{{- else if or (eq .FileType "zip") (eq .FileType "gz") (eq .FileType "7z")}}
												archive
											{{- else}}
												insert_drive_file
											{{- end}}
										{{- end}}
									</i> {{.FileName}} <a href="javascript:void(0)" data-path="{{if $.SearchKey}}{{index $.AcountIndex .AccountId }}{{else}}{{$.DIndex}}{{end}}{{.Path}}" data-clipboard-action="copy" class="copyBtn mdui-icon material-icons mdui-text-color-theme-icon" mdui-tooltip="{content: '复制链接'}" style="font-size: x-small">content_copy</a>
									<a href="{{if $.SearchKey}}{{index $.AcountIndex .AccountId }}{{else}}{{$.DIndex}}{{end}}{{.Path}}" class="mdui-float-right mdui-icon material-icons mdui-text-color-theme-icon">file_download</a>
								{{- end}}
							</div>
							{{- if .IsFolder}}
							{{- else}}
								<div class="mdui-list-item-text mdui-list-item-one-line">
									{{.SizeFmt}} / {{.LastOpTime}}
								</div>
							{{- end}}
							{{- if $.SearchKey}}
								<div class="mdui-list-item-text mdui-list-item-one-line">
									{{index $.AcountIndex .AccountId }}{{.Path}}
								</div>
							{{- end}}
						</div>
					</li>
					{{- end}}
				{{- end}}
			</ul>
		</div>
		{{- if and (.HasReadme) (not .HasPwd)}}
		<div id="content" class="mdui-typo mdui-shadow-2" style="display: none;padding: 15px;margin: 10px;">
			<div class="mdui-chip readme">
				<span class="mdui-chip-icon">M</span>
				<span class="mdui-chip-title">README.md</span>
			</div>
			<hr class="readme" />
			<input id="readme" type="hidden" value="{{.ReadmeContent}}" />
			<script>
				var c = $("#readme").val();
				if(c != ""){
					$("#content").append(marked(c));
					$("#content").toggle();
				}else{
					var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + "/api/public/raw/README.md");
					$.ajax({
						method: 'GET',
						url: fullUrl,
						success: function (data) {
							if(data != ""){
								$("#content").append(marked(data));
								$("table").addClass("mdui-table");
								$("#content").toggle();
							}
						}
					});
				}
			</script>
		</div>
		{{- else}}
		{{- end}}
		<div id="image-preview-list" style="display: none;"></div>
	</div>
	{{- if not .HasPwd}}
		<a id="go-to-top" href="javascript:void(0)" class="mdui-fab mdui-fab-fixed mdui-ripple mdui-btn-dense" style="font-size: x-small"><i class="mdui-icon material-icons">vertical_align_top</i></a>
	{{- end}}
	<div class="mdui-text-center mdui-typo">
		{{- if eq $.Footer ""}}
			©2021 <a href="https://github.com/libsgh/PanIndex" target="_blank">PanIndex</a>. All rights reserved.
		{{- else}}
			{{.Footer | unescaped}}
		{{- end}}
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/viewerjs@1.10.1/dist/viewer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
<script src="/static/js/main.js?v=206"></script>
{{- if ne .Config.Js ""}}
{{.Config.Js | unescaped}}
{{- end}}
</body>
</html>