{{define "templates/pan/mdui/view-pdf.html"}}
    {{template "templates/pan/mdui/view-base.html" .}}
{{end}}
{{define "content-pdf"}}
    <!--<iframe id="view_pdf" src="" style="width:100%;min-height: 600px" frameborder="0">
        This is an embedded pdf file
    </iframe>-->
    <div id="view_pdf" class="mdui-shadow-2 mdui-clearfix br" style="padding: 15px;margin: 10px;width: 95%"></div>
    <link rel="stylesheet" href="{{index $.config.CdnFiles "pdfh5@css"}}">
    <script src="{{index $.config.CdnFiles "pdf@js"}}"></script>
    <script src="{{index $.config.CdnFiles "pdf@worker@js"}}"></script>
    <script src="{{index $.config.CdnFiles "pdfh5@js"}}"></script>
    <script>
        var path = $("#view_down_link").attr("data-path");
        var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host +path);
        var pdfh5 = new Pdfh5('#view_pdf', {
            pdfurl: fullUrl,
            lazy: true
        });
    </script>
{{end}}