{{define "templates/pan/mdui/view-video.html"}}
{{template "templates/pan/mdui/view-base.html" .}}
{{end}}
{{define "content-video"}}
<div id="video_content" class="mdui-shadow-2 mdui-clearfix br" style="padding: 15px;margin: 10px;">
    <button id="playlistBtn" data-account-id="{{$.account.Id}}"
            data-config-subtitle="{{$.config.Subtitle}}"
            data-config-subtitle-path="{{$.config.SubtitlePath}}"
            data-config-danmuku="{{$.config.Danmuku}}"
            data-config-danmuku-path="{{$.config.DanmukuPath}}"
            data-file-name="{{(index $.fns 0).FileName}}" data-path="{{$.config.PathPrefix}}{{(index $.fns 0).Path}}"
            data-file-type="{{(index $.fns 0).FileType}}" data-mode="{{$.account.Mode}}" data-parent-path="{{$.config.PathPrefix}}{{$.parent_path}}"
            data-file-id="{{(index $.fns 0).FileId}}" class="mdui-btn mdui-btn-block mdui-color-indigo-50 br" style="margin-bottom: 15px">
        <span class="titleBtn mdui-hidden-md-up" title="{{FormateName (index $.fns 0).FileName}}">{{TruncateName (FormateName (index $.fns 0).FileName)}}</span>
        <span class="titleBtn mdui-hidden-sm-down" title="{{FormateName (index $.fns 0).FileName}}">{{FormateName (index $.fns 0).FileName}}</span>
        {{- if or (eq $.account.Mode "aliyundrive") (eq $.account.Mode "aliyundrive-share")}}
        <i id="transcodeBtn" class="mdui-icon material-icons mdui-float-right" mdui-tooltip="{content: '云转码', position: 'right'}" style="margin-top: 8px">cloud</i>
        {{- end}}
        <i class="mdui-icon material-icons mdui-float-right" mdui-tooltip="{content: '播放列表', position: 'left'}" style="margin-top: 8px;margin-right: 8px;">playlist_play</i>
    </button>
    <ul class="mdui-menu mdui-menu-cascade br" id="playlist_menu" style="width: 40%"></ul>
    <div class="mdui-video-container">
        <div class="artplayer-app"></div>
    </div>
    <div class="mdui-textfield danmuinput">
        <!--<input class="mdui-textfield-input" type="text" placeholder="发个弹幕见证当下"/>-->
    </div>
</div>
<script src="{{index $.config.CdnFiles "hls@js"}}"></script>
<script src="{{index $.config.CdnFiles "flv@js"}}"></script>
<script src="{{index $.config.CdnFiles "artplayer@js"}}"></script>
<script src="{{index $.config.CdnFiles "artplayer-danmuku@js"}}"></script>
<script src="{{index $.config.CdnFiles "natural@compare@js"}}"></script>
<script src="{{index $.config.CdnFiles "video@mdui@js"}}?v={{$.version}}"></script>
{{end}}