{{define "pan/mdui/view-video.html"}}
    {{template "pan/mdui/view-base.html" .}}
{{end}}
{{define "content-video"}}
    <div id="view_dplayer" style="width: auto;height: auto"></div>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1.0.7/dist/hls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dplayer@1.26.0/dist/DPlayer.min.js"></script>
    <script>
        var path = $("#file_link").attr("data-path");
        var mode = $("#file_link").attr("data-mode");
        var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + path);
        var url = "{{.DownloadUrl}}";
        if(mode == "native"){
            url = fullUrl;
        }
        const dp = new DPlayer({
            container: document.getElementById('view_dplayer'),
            video: {
                url: url
            },
            autoplay: true,
            lang: 'zh-cn'
        });
    </script>
{{end}}