{{define "pan/mdui/view-img.html"}}
    {{template "pan/mdui/view-base.html" .}}
{{end}}
{{define "content-img"}}
    <div class="mdui-typo">
        <img id="view_link" class="mdui-img-fluid mdui-center mdui-img-rounded" src="{{.DownloadUrl}}" lazy="loaded" />
    </div>
    <script>
        var path = $("#file_link").attr("data-path");
        var mode = $("#file_link").attr("data-mode");
        var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + path);
        if(mode == "native" || mode == "ftp" || mode == "webdav"){
            $("#view_link").attr("src", fullUrl);
        }
    </script>
{{end}}