{{define "pan/mdui/view-audio.html"}}
    {{template "pan/mdui/view-base.html" .}}
{{end}}
{{define "content-audio"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
    <div class="mdui-valign" style="min-height: 300px">
        <div id="aplayer" class="mdui-center" style="width: 500px"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
    <script>
        var path = $("#file_link").attr("data-path");
        var mode = $("#file_link").attr("data-mode");
        var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + path);
        var url = "{{.DownloadUrl}}";
        if(mode == "native" || mode == "ftp" || mode == "webdav"){
            url = fullUrl;
        }
        var n = '{{ (index .List 0).FileName }}';
        var formData = new FormData();
        formData.append("accountId", "{{.AccountId}}");
        formData.append("parentPath", "{{.ParentPath}}");
        formData.append("mediaType", "2");
        formData.append("sColumn", $.cookie("SColumn"));
        formData.append("sOrder", $.cookie("SOrder"));
        var playList = [];
        var index = 0;
        $.ajax({
            method: 'POST',
            url: "/api/public/files", //上传文件的请求路径必须是绝对路劲
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $.each(data.data, function(i, item){
                    if(item.fileName == n){
                        index = i;
                    }
                    var v = {};
                    var vname = item.fileName.split(".")[0];
                    var ns = vname.split("-");
                    if(ns.length > 1){
                        v.artist = ns[0];
                        v.name = ns[1];
                    }else{
                        v.name = vname;
                        v.artist = '艺术家';
                    }
                    v.url = item.fileName;
                    v.cover = vname + '.jpg';
                    v.lrc = vname + '.lrc';
                    playList.push(v)
                });
                const ap = new APlayer({
                    container: document.getElementById('aplayer'),
                    mini: false,
                    autoplay: false,
                    listFolded: false,
                    listMaxHeight: 200,
                    preload: 'auto',
                    loop: 'all',
                    order: 'list',
                    lrcType: 3,
                    audio: playList
                });
                ap.list.switch(index);
                if($('body').hasClass('mdui-theme-layout-dark')){
                    $(".aplayer-title").css("color", "#666");
                    $(".aplayer-list-title").css("color", "#666");
                }else{
                    $(".aplayer-title").css("color", "");
                    $(".aplayer-list-title").css("color", "");
                }
            }
        });

    </script>
{{end}}