{{define "templates/pan/mdui/view-code.html"}}
    {{template "templates/pan/mdui/view-base.html" .}}
{{end}}
{{define "content-code"}}
    <style>
        .code {
            padding: 12px 16px;
            overflow-x: auto;
            border: 1px solid rgba(0,0,0,.12);
            border-radius: 10px;
            -webkit-overflow-scrolling: touch;
        }
    </style>
    <link rel="stylesheet"
          href="{{index $.config.CdnFiles "highlightjs@atom@dark@css"}}">
    <link rel="stylesheet"
          href="{{index $.config.CdnFiles "highlightjs@atom@light@css"}}">
    <script src="{{index $.config.CdnFiles "highlight@js"}}"></script>
    <pre class="code"><code id="editor" class="nohighlight"></code></pre>
    <script>
        var path = $("#view_down_link").attr("data-path");
        var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + "{{$.config.PathPrefix}}/api/v3/public/raw" +path);
        $.ajax({
            method: 'GET',
            url: fullUrl,
            dataType : "html",
            success: function (data) {
                if("{{(index $.fns 0).FileType}}" == "txt"){
                    $("#editor").html(data);
                }else{
                    if (typeof data == "object") {
                        data = JSON.stringify(data, null, 4);
                    }else{
                        try {
                            var jsonObj = JSON.parse(data);
                            if (typeof jsonObj == "object") {
                                data = JSON.stringify(jsonObj, null, 4);
                            }
                        } catch (e) {
                        }
                    }
                    var html = hljs.highlightAuto(data).value;
                    $("#editor").html(html);
                }
            }
        });
    </script>
{{end}}