{{define "templates/pan/mdui/view-office.html"}}
    {{template "templates/pan/mdui/view-base.html" .}}
{{end}}
{{define "content-office"}}
    <iframe id="view_office" class="br" src="" style="width:100%;min-height: 600px" frameborder="0">
        This is an embedded office file
    </iframe>
    <script>
        var path = $("#view_down_link").attr("data-path");
        var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + path);
        $("#view_office").attr("src", "https://view.officeapps.live.com/op/embed.aspx?src="+fullUrl);
    </script>
{{end}}