{{define "templates/pan/mdui/view-md.html"}}
    {{template "templates/pan/mdui/view-base.html" .}}
{{end}}
{{define "content-md"}}
    <div id="content" class="mdui-typo mdui-shadow-2 br" style="padding: 15px;margin: 10px;">
    </div>
    <script>
        var path = $("#view_down_link").attr("data-path");
        var fullUrl = encodeURI(window.location.protocol + "//"+window.location.host + "{{$.config.PathPrefix}}/api/v3/public/raw" +path);
        $.ajax({
            method: 'GET',
            url: fullUrl,
            success: function (data) {
                $("#content").append(marked.parse(data));
                $("table").addClass("mdui-table");
            }
        });
    </script>
{{end}}